// Table of Contents

// See mark-down file for how to use compass' rhythm and trailer/leader functions or check the compass documentation
// -------------------------------------------------------------

// ::Imports pre-render
	//:: Reset
	//:: Settings
	//:: Mixins
// ::Clearfix extends
// ::Base styles

// ::Layout styles 
// ::Media queries 
// ::State styles
// ::Debugs  



// ::Imports pre-render. Must be after reset 
// ------------------------------------------------------------
@import "compass/typography/vertical_rhythm";
@import "compass/css3";
@import "compass/utilities";

@import "libs/reset";
@import "libs/settings";
@import "libs/mixins";



/* ::Clearfixs and extends. Use which suits best */
/* ----------------------------------------------------------- */

// CHOOSE YOUR CLEARFIX, OR YOU KNOW USE BOTH. WHATEVER, I'M NOT YOUR MOTHER.

// Use clearfix if you need general clearfixing
.clearfix 			{ @include clearfix; }


// Use pie-clearfix if you need clearfixing that doesn't use overflow: hidden
.pie-clearfix 		{ @include pie-clearfix; }



// OTHER EXTENDS

// Max width, for images etc... in RWD
.max-width 			{ max-width: 100%; height: auto; }



/* ::Base styles almost exclusively single element selectors */
/* ------------------------------------------------------------ */

html {
	font-size: 100%;
}

body {
	color: $base-color;
	background-color: $black;
	font-family: Helvetica, Arial, sans-serif;
	background-color: $primary;
}

a {
	color: $action;
	text-decoration: none;
	@include force-wrap;					// force text links to wrap
	&:hover, &:focus, &:active {
		color: $action-respond;
		text-decoration: none;
		border-bottom: 1px solid lighten($primary, 10%);
	}
}

.box {
	display: inline-block;
	position: relative;
	width: 100%;
	margin: 3% 0;
	background-color: $white;
	overflow: hidden;
	//height: $height;
	border-top: 1px darken($white, 35%) solid;
	//box-shadow: 0 15px 15px -10px darken($primary, 20%);
	&:first-of-type {
		margin-top: 50px;
	}

	figure {
		background-color: $primary;
		width: 100%;
		height: $height - 50px;
		z-index: 1;
		position: relative;
		cursor: pointer;
		overflow: hidden;
		&:hover {
			height: $height;
		}

		img {
			width: 100%;
			position: absolute;
			top: 0;
		}

		h1 {
			z-index: 20;
			box-shadow: inset 0 -39px 31px -18px rgba(0,0,0,.9);
			width: 100%;
			display: block;
			margin: 0;
			padding: 1%;
		}
	}
	article {
		border-top: solid 5px $accent;
		border-bottom: solid 15px $accent;
		position: relative;
		//bottom: 100%;
		width: 100%;
		//z-index: -1;
		
		
		section {
			margin: 2%;
			float: left;
			width: 90%;
			h2 {
				color: $primary;
				margin: 10px 0;
				width: 100%;
			}
		}
		.tab {
			width: 100%;
			border-top: solid 5px $accent;
			height: 5px;
			clear: both;
		}
		aside {
			width: 100%;
			//height: 200px;
			background-color: lighten($accent, 55%);
			float: right;
			text-align: left;
			box-shadow: inset 0 10px 10px -10px rgba(0,0,0,.3);
			h3 {
				padding: 10px 0;
				padding-left: 20px;
				background-color: $accent;
				color: $heading-color;
				border-bottom: 1px solid $white;
			}
			ul {
				li {
					list-style-type: none;
					a {
						color: $black;
						@include fullbar-link;
						padding-left: 20px;
						padding-bottom: 0;
						&:hover {
							background-color: $primary;
							color: $white;
						}
					}
				}
			}
		}
	}
	.collapse {
		height: 20px;
	}
}

.box, .box article, figure {
	@include transition-property(all);
	@include transition-duration(.5s);
	@include transition-timing-function(ease-in);
}

.logo {
	margin: 0 auto 15px;
	height: 150px;
	padding: 37px 20px 10px;
	max-width: 255px;
	//background-color: $lightgray;
}

.navlogo {
	width: 50%;
	margin: 25px auto;
	padding-bottom: 20px;
}

.footer-links, .mobile-foot {
	margin: 0 auto;
	//background-color: $lightgray;
	padding-top: 10px;
	ul {
		font-size: 12px;
		@include clearfix;
		//margin-bottom: 90px;
		li {
			width: 50%;
			float: left;
			a {
				color: darken($white ,10%);
			}
		}
		.left-links {text-align: right; padding-right: 5px;}
		.right-links {text-align: left; padding-left: 5px;}
	}
}

.footer-links {
	ul {
		opacity: 0.6;
		-moz-opacity: 0.6;
		&:hover {
			opacity: 1;
			-moz-opacity: 1;
		}
	}
}

.mobile-foot {
	display: block;
	text-align: center;
	background-image: url(../img/darkslats.png);
	background-repeat: repeat;
	bottom: -32px;
	position: relative;
	ul {
		font-size: 15px;
    	height: 105px;
    	padding: 8px 0;
    	background-color: rgba(125,125,125,.3);
		li {
			list-style-type: none;
			a {
				@include fullbar-link;
				@include nav-styling;
				&:hover, &:active {
					background-color: $primary;
					border-bottom: 3px solid $accent;
					width: 100%;
				}
			}
		}
	}
	.navlogo {
		width: 60%;
		margin: 30px auto;
	}
}

// Import base typography into the cascade (if required)
@import "libs/typography"; 		


// Import form styles into the cascade (if required)
@import "libs/forms";			



// -------------------------------------------------------------------------------------------------------

// All the below can be removed if need be

// -------------------------------------------------------------------------------------------------------




/* ::Layout styles - Layouts hold one or more modules together. */
/* ------------------------------------------------------------ */

#container {
	@extend .clearfix;
	margin: 0 auto;
	width: 95%;
	position: relative;
}


nav {
	position: relative;
	z-index: 5;
	width: 100%;
	padding: 0 0 20px;
	background-image: url(../img/darkslats.png);
	background-repeat: repeat;
	//background-image: url(../img/.png);
	//background-size: 100%;
	//@include background-image(linear-gradient(left, darken($primary, 15%), darken($primary, 20%)));
	a:link, a:visited {color: $white;}
	a:hover, a:active {color: darken($white, 10%);}

	footer {
		display: none;
	}
	ul {
		margin: 0 auto;
		li {
			list-style-type: none;
			text-align: center;
			a {
				@include fullbar-link;
				@include nav-styling;
				// &:hover {
				// 	padding-top: 20px;
				// 	height: 60px;
				// }
			}
		}
	}
	.color-red {
		background-color: $red;
		width: 100%;
		border-bottom: 3px solid $darkred;
	}
	.color-green {
		background-color: $green;
		width: 100%;
		border-bottom: 3px solid $darkgreen;
	}
	.color-blue {
		background-color: $blue;
		width: 100%;
		border-bottom: 3px solid $darkblue;
	}
	.color-orange {
		background-color: $orange;
		width: 100%;
		border-bottom: 3px solid $darkorange;
	}
}

section { @extend .clearfix; }
h1 { 
	position: absolute;
	margin: 10px;
	bottom: 0;
	color: $heading-color;
}
ol { @include ordered-inside }
ul { @include unordered-inside }

/* ::Media queries */
/* ------------------------------------------------------------ */

// If using gridset or another pre-defined grid, these should match up to the same breakpoints

// Below examples use a mobile-first approach


// Eg for 480px
@media screen and (min-width: em-font(480px)) {
	.box {
		figure {
			height: $height - 50px;
			img {
				top: -30%;
			}
		}
	}
	.navlogo {
		width: 40%;
	}
}


// Eg for 800px -- DESKTOP
@media screen and (min-width: em-font(800px)) {
	nav .color-red, nav .color-green, nav .color-blue, nav .color-orange {
		width: 90%;
	}
	#container {
		width: 80%;
		margin-left: 20%;
	}
	.mobile-foot {
		display: none;
	}
	.navlogo {
		margin: 20px auto 0;
		width: 60%;
	}
	.footer-links {
		ul {
			li {
				a {
					padding: 10px 5px;
					border-bottom: 1px solid transparent;
					&:hover {
						border-bottom: 1px solid $primary;
					}
				}
			}
		}
	}
	nav {
		position: fixed;
		width: 20%;
		height: 100%;
		border-right: 10px solid $primary;
		&:before {
			content: " ";
			position: absolute;
			z-index: -1;
			top: 0;
			left: 0;
			right: 0;
			bottom: 0;
			border-right: 5px solid $accent;
		}
		
		ul {
			li {
				text-align: left;
				a {
					@include fullbar-link;
					padding: 10px 20px;
					border-bottom: 1px soild transparent;
				}
			}
		}
		footer {
			display: block;
			bottom: 0;
			position: absolute;
			width: 100%;
			ul {
				li {
					text-align: center;
				}
			}
		}
	}

		// nav .color-red:hover > nav {
		// 	border-right: 10px solid $red;
		// }
		// nav .color-red:hover > nav:before {
		// 	border-right: 5px solid $darkred;
		// }
		// nav .color-green:hover > nav {
		// 	border-right: 10px solid $green;
		// }
		// nav .color-green:hover > nav:before {
		// 	border-right: 5px solid $darkgreen;
		// }

	.box {
		width: 94%;
		margin: 3%;
		&:first-of-type {
			margin: 3%;
		}
		figure {
			height: $height - 50px;
			img {
				top: -50%;
			}
		}
		article {
			section {
				width: 66%;
			}
			aside {
				width: 30%;
				//box-shadow: inset 10px 0 10px -10px rgba(0,0,0,.3);
			}
		}
	}
	.red-theme {
		nav {
			border-right: 10px solid $red;
			&:before {border-right: 5px solid $darkred;}
		}
	}
	.green-theme {
		nav {
			border-right: 10px solid $green;
			&:before {border-right: 5px solid $darkgreen;}
		}
	}
	.blue-theme {
		nav {
			border-right: 10px solid $blue;
			&:before {border-right: 5px solid $darkblue;}
		}
	}
	.orange-theme {
		nav {
			border-right: 10px solid $orange;
			&:before {border-right: 5px solid $darkorange;}
		}
	}
}

// Eg for 1240px
@media screen and (min-width: em-font(1240px)) {
	#container {
		max-width: 80%;
		.box {
			max-width: 1200px;
		}
	}
}

// Print styles
@media print {
	body {
		// Smaller type for printing. Save a tree
		font-size: percentage(10 / 16);
		@include adjust-leading-to(2);
	}
}


// IOS specifics 
@media screen and (max-width: 769px) {  // Absolute measure here, as we're talking about devices, not screen size
	-webkit-text-size-adjust:none; 		// Stop iPhone/iPad from scaling text
}


/* ::State styles */
/* ------------------------------------------------------------ */

.is-hidden {
	display: none;
}

.is-shown, .is-block {
	display: block;
}

.is-uppercase {
	text-transform: uppercase;
	letter-spacing: 1px;
}

.is-lowercase {
	text-transform: lowercase;
}



/* ::Debugs and #grid by Jon Gibbins */
/* ----------------------------------------------------------- */

#grid {
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
}

#grid div.horiz{
	// Use this one NOT using a global border-box setting
	// height: $base-line-height - 1px;
	
	// Use this one if you ARE using a global border-box setting
    height: $base-line-height;
    
    // Carry on...
    border-bottom: 1px solid #ddd;
    margin: 0;
    padding: 0;
}


// COLOR THEMES

.red-theme {
background-color: $red;
	nav {
		// @include background-image(linear-gradient(left, darken($red, 15%), darken($red, 20%)));
		.color-red {
			background-color: $red;
			border-bottom: 3px solid $darkred;
			width: 100%;
		}
		.footer-links ul li a:hover {
			border-bottom: 1px solid $red;
		}
	}
	.box {
		// box-shadow: 0 15px 15px -10px darken($red, 20%);
		.tab {
			border-top: solid 5px darken($darkred, 10%);
		}
		article {
			border-bottom: 18px solid $darkred;
			border-top: 3px solid darken($darkred, 10%);
			aside {
				background-color: lighten($red, 65%);
				h3 {
					background-color: darken($darkred, 10%);
				}
				ul li a:hover {
					background-color: $red;
					border-bottom: 3px solid $darkred;
				}
			}
			section {
				h2 {color: $red;}
				a:link, a:visited {color: $red;}
				a:hover, a:active {color: lighten($red, 10%); border-bottom: solid 1px $red;}
			}
		}
	}
}
.green-theme {
background-color: $green;
	nav {
		// @include background-image(linear-gradient(left, darken($green, 15%), darken($green, 20%)));
		.color-green {
			background-color: $green;
			border-bottom: 3px solid $darkgreen;
			width: 100%;
		}
		.footer-links ul li a:hover {
			border-bottom: 1px solid $green;
		}
	}
	.box {
		// box-shadow: 0 15px 15px -10px darken($green, 20%);
		.tab {
			border-top: solid 5px darken($darkgreen, 10%);
		}
		article {
			border-bottom: 18px solid $darkgreen;
			border-top: 3px solid darken($darkgreen, 10%);
			aside {
				background-color: lighten($green, 65%);
				h3 {
					background-color: darken($darkgreen, 10%);
				}
				ul li a:hover {
					background-color: $green;
					border-bottom: 3px solid $darkgreen;
				}
			}
			section {
				h2 {color: $green;}
				a:link, a:visited {color: $green;}
				a:hover, a:active {color: lighten($green, 10%); border-bottom: solid 1px $green;}
			}
		}
	}
}
.blue-theme {
background-color: $blue;
nav {
		// @include background-image(linear-gradient(left, darken($blue, 15%), darken($blue, 20%)));
		.color-blue {
			background-color: $blue;
			border-bottom: 3px solid $darkblue;
			width: 100%;
		}
		.footer-links ul li a:hover {
			border-bottom: 1px solid $blue;
		}
	}
	.box {
		// box-shadow: 0 15px 15px -10px darken($blue, 20%);
		.tab {
			border-top: solid 5px darken($darkblue, 10%);
		}
		article {
			border-bottom: 18px solid $darkblue;
			border-top: 3px solid darken($darkblue, 10%);
			aside {
				background-color: lighten($blue, 55%);
				h3 {
					background-color: darken($darkblue, 10%);
				}
				ul li a:hover {
					background-color: $blue;
					border-bottom: 3px solid $darkblue;
				}
			}
			section {
				h2 {color: $blue;}
				a:link, a:visited {color: $blue;}
				a:hover, a:active {color: lighten($blue, 10%); border-bottom: solid 1px $blue;}
			}
		}
	}
}
.orange-theme {
background-color: $orange;
nav {
		// @include background-image(linear-gradient(left, darken($orange, 15%), darken($orange, 20%)));
		.color-orange {
			background-color: $orange;
			border-bottom: 3px solid $darkorange;
			width: 100%;
		}
		.footer-links ul li a:hover {
			border-bottom: 1px solid $orange;
		}
	}
	.box {
		// box-shadow: 0 15px 15px -10px darken($orange, 20%);
		.tab {
			border-top: solid 5px darken($darkorange, 10%);
		}
		article {
			border-bottom: 18px solid $darkorange;
			border-top: 3px solid darken($darkorange, 10%);
			aside {
				background-color: lighten($orange, 45%);
				h3 {
					background-color: darken($darkorange, 10%);
				}
				ul li a:hover {
					background-color: $orange;
					border-bottom: 3px solid $darkorange;
				}
			}
			section {
				h2 {color: $orange;}
				a:link, a:visited {color: $orange;}
				a:hover, a:active {color: lighten($orange, 10%); border-bottom: solid 1px $orange;}
			}
		}
	}
}
