// Table of Contents

// See mark-down file for how to use compass' rhythm and trailer/leader functions or check the compass documentation
// -------------------------------------------------------------

// ::Imports pre-render
	//:: Reset
	//:: Settings
	//:: Mixins
// ::Clearfix extends
// ::Base styles

// ::Layout styles 
// ::Media queries 
// ::State styles
// ::Debugs  



// ::Imports pre-render. Must be after reset 
// ------------------------------------------------------------
@import "compass/typography/vertical_rhythm";
@import "compass/css3";
@import "compass/utilities";

@import "libs/reset";
@import "libs/settings";
@import "libs/mixins";



/* ::Clearfixs and extends. Use which suits best */
/* ----------------------------------------------------------- */

// CHOOSE YOUR CLEARFIX, OR YOU KNOW USE BOTH. WHATEVER, I'M NOT YOUR MOTHER.

// Use clearfix if you need general clearfixing
.clearfix 			{ @include clearfix; }


// Use pie-clearfix if you need clearfixing that doesn't use overflow: hidden
.pie-clearfix 		{ @include pie-clearfix; }



// OTHER EXTENDS

// Max width, for images etc... in RWD
.max-width 			{ max-width: 100%; height: auto; }



/* ::Base styles almost exclusively single element selectors */
/* ------------------------------------------------------------ */

html {
	font-size: 100%;
}

body {
	color: $base-color;
	background-color: $black;
	font-family: $slab-regular;
	letter-spacing: 1;
	background-color: $primary;
	background-image: url("../img/graycity.png"), url("../img/darkgray-tex.png");
	background-position: center 40px, left top;
	background-repeat: no-repeat, repeat;
	background-size: auto 500px, auto auto;
	@include breakpoint(desktop) {
		background-size: auto auto, auto auto;
		background-position: center top, left top;
	}
}

a {
	color: $action;
	text-decoration: none;
	@include force-wrap;					// force text links to wrap
	&:hover, &:focus, &:active {
		color: $action-respond;
		text-decoration: none;
		border-bottom: 1px solid lighten($primary, 10%);
	}
}

// Import base typography into the cascade (if required)
@import "libs/typography"; 		


// Import form styles into the cascade (if required)
@import "libs/forms";			



// -------------------------------------------------------------------------------------------------------

// All the below can be removed if need be

// -------------------------------------------------------------------------------------------------------




/* ::Layout styles - Layouts hold one or more modules together. */
/* ------------------------------------------------------------ */

#container {
	@extend .clearfix;
	margin: 70px auto 20px;
	width: 95%;
	position: relative;
	padding: 0 2%;
	@include breakpoint(desktop) {
		margin-top: 0;
		width: 80%;
		margin-left: 20%;
		margin-bottom: 150px;
	}
}

// HOMEPAGE FEATURETTE

#home-container {
	display: inline-block;
	position: relative;
	width: 80%;
	margin-left: 10%;
	margin-right: 10%;
	margin-top: 20px;
	@include breakpoint(desktop) {
		margin-top: -20px;
		width: 50%;
		margin-left: 25%;
		margin-right: 25%;
		margin-bottom: 50px;
	}
}

#home-dummy {
	padding-top: 100%;
}

#home-element {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
}

#home-element img {
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	cursor: pointer;
}

#home-element img.hover {
	z-index: 10;
	opacity: 0;
	@include transition(all 0.3s ease-in-out);
}

#historybox, #memorialbox, #artsbox, #sitesbox {
	position: absolute;
	width: 50%;
	height: 50%;
}

#aboutbox {
	position: absolute;
	width: 37%;
	height: 37%;
	border-radius: 999px;
	left: 31.5%;
	top: 32%;
	z-index: 30;
	background-color: #888;
}

#aboutbox img {
	border-radius: 999px;
}

#memorialbox {
	left: 50%;
}

#artsbox {
	top: 50%;
}

#sitesbox {
	top: 50%;
	left: 50%;
}

/* HOVERS */

div#aboutbox:hover > img.hover, div#historybox:hover > img.hover, div#memorialbox:hover > img.hover, div#artsbox:hover > img.hover, div#sitesbox:hover > img.hover {
	opacity: 1;
	@include transition(all 0.3s ease-in-out);
}

// END HOMEPAGE FEATURETTE


nav {
	a:link, a:visited {color: $white;}
	a:hover, a:active {color: darken($white, 10%);}

	ul {
		margin: 0 auto;
		li {
			em {
				color: $gray;
				padding: 10px 20px;
				margin-bottom: 5px;
				position: relative;
				bottom: 5px;
			}
			list-style-type: none;
			text-align: center;
			@include breakpoint(desktop) {text-align: left;}
			a {
				@include fullbar-link;
				@include nav-styling;
				@include breakpoint(desktop) {
					padding: 10px 20px;
					border-bottom: 1px soild transparent;
				}
			}
		}
	}

	font-family: $sans-regular;
	padding: 0 0 20px;
	z-index: 5;
	background-image: url(../img/darkslats.png);
	background-repeat: repeat;
	background-color: $black;
	position: relative;
	border-bottom: 5px $primary solid;
	width: 100%;

	@include breakpoint(desktop) {
		position: fixed;
		width: 20%;
		height: 100%;
		border-right: 10px solid $primary;
		border-bottom: 0 solid $primary !important;
		&:before {
			content: " ";
			position: absolute;
			z-index: -1;
			top: 0;
			left: 0;
			right: 0;
			bottom: 0;
			border-right: 5px solid $accent;
		}
	}

	.logo {
		margin: 0 auto 15px;
		padding: 37px 20px 10px 15px;
		max-width: 255px;
		position: relative;
		img {
			top: 50px;
			width: 100%;
			left: -5px;
			max-width: 255px;
			position: absolute;
			@include breakpoint(desktop) {
				width: 80%;
				left: auto;
			}
			&:first-child {
				opacity: 0;
				@include transition(all 0.02s ease-in-out);
			}
		}
		&:hover img:first-child {
			@include transition(all 0.02s ease-in-out);
			opacity: 1;
			z-index: 5;
		}
	}

	// #logo {
	// position: relative;
	// width: 400px;
	// margin: 0 auto;
	// margin-top: 50px;
	// }

	// #logo img {
	// position: absolute;
	// }

	// #logo img:first-child {
	// opacity: 0;
	// transition: .02s ease-in-out 0s;
	// }

	// #logo:hover img:first-child {
	// opacity: 1;
	// z-index: 5;
	// transition: .02s ease-in-out 0s;
	// }

	div {
		a {
			&:hover {
				border-bottom: 0 solid transparent;
			}
		}
	}

	footer {
		display: none;
		@include breakpoint(desktop) {
			display: block;
			bottom: 0;
			position: absolute;
			width: 100%;
			ul li {text-align: center;}
		}
		ul {
			opacity: 0.6;
			-moz-opacity: 0.6;
			&:hover {
				opacity: 1;
				-moz-opacity: 1;
			}
			li a {
				@include breakpoint(desktop) {
					padding: 10px 5px;
					border-bottom: 1px solid transparent;
					&:hover {
					//	border-bottom: 1px solid $primary;
					}
				}
			}
		}
		div {
			width: 50%;
			margin: 25px auto;
			padding-bottom: 20px;
			@include breakpoint(mobile) {width: 40%;}
			@include breakpoint(desktop) {
				margin: 20px auto 0;
				width: 60%;
			}
		}
	}
}

.color-red, .color-green, .color-blue, .color-orange {
		width: 100%;
		&:hover {
			padding-left: 27px;
		}
	}
	.color-red {
		background-color: $red;
		border-bottom: 3px solid $darkred;
		&:hover {
			@include css-gradient(lighten($red, 10%), $red);
			border-bottom: 3px solid $darkred;
		}
	}
	.color-green {
		background-color: $green;
		border-bottom: 3px solid $darkgreen;
		&:hover {
			@include css-gradient(lighten($green, 10%), $green);
			border-bottom: 3px solid $darkgreen;
		}
	}
	.color-blue {
		background-color: $blue;
		border-bottom: 3px solid $darkblue;
		&:hover {
			@include css-gradient(lighten($blue, 10%), $blue);
			border-bottom: 3px solid $darkblue;
		}
	}
	.color-orange {
		background-color: $orange;
		border-bottom: 3px solid $darkorange;
		&:hover {
			@include css-gradient(lighten($orange, 10%), $orange);
			border-bottom: 3px solid $darkorange;
		}
	}
	@include breakpoint(desktop) {
		.color-red, .color-green, .color-blue, .color-orange {
			width: 90%;
		}
	}

footer {
	margin: 0 auto;
	padding-top: 10px;
	@include breakpoint(desktop) {
		z-index: -1;
	}
	ul {
		font-size: 12px;
		@include clearfix;
		li {
			width: 50%;
			float: left;
			a {
				width: 100%;
				color: darken($white ,10%);
			}
		}
		.left-links {
			text-align: right;
			padding-right: 7px;
			@include transition(all 0.2s ease-in-out);
			&:hover {
				padding-right: 14px;
				padding-left: 0;
			}
			a {
				padding-right: 8px;
			}
		}
		.right-links {
			text-align: left;
			padding-left: 7px;
			@include transition(all 0.2s ease-in-out);
			&:hover {
				padding-left: 14px;
				padding-right: 0;
			}
			a {
				padding-left: 8px;
			}
		}
	}
}

.page-foot {
	display: block;
	@include breakpoint(desktop) {
		display: none;
		background-image: none;
		bottom: -7px;
		position: absolute;
	}
	text-align: center;
	background-image: url(../img/darkslats.png);
	background-repeat: repeat;
	bottom: -32px;
	position: relative;
	img {
		width: 60%;
		margin-top: 20px;
		margin-bottom: 30px;
		@include breakpoint(desktop) {
			width: 95%;
			margin: 0 auto;
		}
	}
	ul {
		font-size: 15px;
    	height: 128px;
    	padding: 8px 0;
    	background-color: rgba(125,125,125,.3);
    	@include breakpoint(desktop) {
    		background-color: transparent;
    		font-size: 13px;
    	}
		li {
			list-style-type: none;
			a {
				font-family: $sans-regular;
				@include fullbar-link;
				@include nav-styling;
				padding: 10px;
				&:hover, &:active {
					background-color: transparentize($gray, 0.7);
					//background-color: $primary;
					//border-bottom: 3px solid $accent;
					width: 100%;
				}
			}
		}
	}
}


nav footer {
	display: none !important;
	@include breakpoint(desktop) {
		display: block !important;
	}
}

header {
	@extend .box;
	border-top: 0 transparent solid !important;
	padding: 2%;
	h1 {
		font-family: $slab-bold;
		font-size: 40px;
		margin: 0;
		@include breakpoint(mobile) {
			font-size: 55px;
		}
		@include breakpoint(desktop) {
			font-size: 73px;
		}
		color: $white;
		text-align: center;
	}
	h2 {
		font-family: $sans-bold;
		color: $white;
		text-align: center;
		text-transform: uppercase;
		margin-bottom: 10px;
		font-size: 21px;
		letter-spacing: 12px;
		@include breakpoint(tablet) {
			font-size: 30px;
			letter-spacing: 15px;
		}
		@include breakpoint(desktop) {
			font-size: 35px;
			letter-spacing: 17px;
		}
	}
}

.subpage {
	margin-top: 10px !important;
	h1 {
		font-size: 40px;
		letter-spacing: 1px;
		@include breakpoint(tablet) {
			font-size: 65px;
			letter-spacing: 2.5px;
		}
		@include breakpoint(desktop) {
			font-size: 80px;
			letter-spacing: 4px;
		}
	}
	.box article section {
		a {color: $orange;}
		a:hover {color: $darkorange;}
	}
}

.box {
	display: inline-block;
	position: relative;
	width: 100%;
	margin: 4% 0;
	@include breakpoint(desktop) {
		width: 100%;
		margin: 2% 0;
	}
	overflow: hidden;
	//border-top: 3px $darkred solid;
	&:first-of-type {
		margin-top: 30px;
		@include breakpoint(desktop){margin-top: 50px;}
	}

	figure {
		background-color: $primary;
		width: 100%;
		height: $height - 125px;
		@include breakpoint(mobile) {height: $height - 50px;}
		@include breakpoint(desktop) {height: $height;}
		z-index: 1;
		position: relative;
		cursor: pointer;
		overflow: hidden;
		&:hover ~ .slider-control {
			opacity: 1;
			left: 0;
		}

		img {
			width: 100%;
			position: absolute;
			top: 0;
			margin-top: -30px;
			@include breakpoint(tablet) {top: -30%;margin-top: -80px;}
			@include breakpoint(desktop) {top: -60%;margin-top: -20%;}
		}

		h1 {
			z-index: 20;
			box-shadow: inset 0 -39px 31px -18px rgba(0,0,0,.9);
			width: 100%;
			display: block;
			padding: 1%;
			position: absolute;
			margin: 0;
			bottom: 0;
			font-family: $sans-light;
			color: $heading-color;
			span {
				font-family: $slab-regular;
				display: block;
				font-size: 17px;
				letter-spacing: 1px;
				color: darken($white, 20%);
				a {
					color: $white;
					font-family: $slab-bold;
				}
			}
		}
		&:hover > .read-more {
			opacity: 1;
			-moz-opacity: 1;
			@include breakpoint(desktop) {
				top: 10px;
			}
		}
	}
	article {
		border-top: solid 5px $accent;
		border-bottom: solid 15px $primary;
		position: relative;
		background-color: $white;
		width: 100%;

		blockquote {
			color: $primary;
			font-size: 30px;
			width: 93%;
			border-left-width: 5px;
			margin: 2% 0 6%;
			font-family: $sans-regular;
			@include breakpoint(desktop) {
				width: 95%;
				margin: 2%;
			}
		}
		.quote-left {
			float: left;
			border-left-width: 5px;
			border-right: $accent 0 solid;
			@include breakpoint(desktop) {
				width: 35%;
				border-right-width: 5px;
				border-left-width: 0;
				padding-left: 0;
				padding-right: 18px;
				margin-right: 18px;
				margin-left: 0;
			}
		}
		.quote-right {
			margin-left: 0;
			float: left;
			border-right-width: 0;
			border-left: $accent 5px solid;
			@include breakpoint(desktop) {
				width: 35%;
				float: right;
				padding-left: 18px;
				padding-right: 0;
				margin-right: 0;
				margin-left: 18px;
			}
		}
		
		section {
			margin: 2%;
			float: left;
			width: 90%;
			padding: 10px;
			@extend .clearfix;
			@include breakpoint(desktop) {width: 66%;}
			h2 {
				color: $primary;
				margin: 10px 0;
				width: 100%;
			}
		}
		.tab {
			width: 100%;
			border-top: solid 6px lighten($accent, 5%);
			height: 5px;
			clear: both;
		}
		aside {
			width: 100%;
			@include breakpoint(desktop) {
				width: 30%;
				//REMOVE BELOW POSITIONING IF ASIDE IS BEING CUT OFF
				position: absolute;
				right: 0;
				top: 0;
				bottom: 0;
			}
			//height: 200px;
			// float: right;
			background-color: lighten($accent, 55%);
			// &:before {
			// 	content: "";
			// 	background-color: lighten($accent, 55%);
			// 	width: 30%;
			// 	position: absolute;
			// 	bottom: 0;
			// 	top: 0;
			// 	right: 0;
			// }
			float: left;
			text-align: left;
			font-family: $sans-regular;
			box-shadow: inset 0 10px 10px -10px rgba(0,0,0,.3);
			h3 {
				padding: 10px 0;
				padding-left: 20px;
				background-color: $accent;
				color: $heading-color;
				border-bottom: 1px solid $white;
			}
			p {
				padding: 10px 20px;
				position: relative;
				// &:before {
				//     background-color: lighten($accent, 55%);
				//     content: "";
				//     height: 100%;
				//     left: 0;
				//     position: absolute;
				//     top: 0;
				//     bottom: 0;
				//     width: 100%;
			 //    }
			 //    &:before {
				//     top: 100%;
			 //    }
			}
			ul {
				li {
					list-style-type: none;
					a {
						color: $black;
						width: 100%;
						@include fullbar-link;
						padding-left: 20px;
						&:hover {
							background-color: $primary;
							color: $white;
						}
					}
				}
			}
			ol {
				li {
					font-family: $slab-regular;
					margin-left: 45px;
				}
			}
		}
	}
	.collapse {
		height: 20px;
	}
}

		.read-more {
			margin: 0;
			position: absolute;
			@include transition-property(all);
			@include transition-duration(.5s);
			@include transition-timing-function(ease-in-out);
			color: $white;
			font-size: 8px;
			font-family: $slab-bold;
			bottom: auto;
			top: -80px;
			opacity: 0;
			z-index: 5;
			-moz-opacity: 0;
			text-transform: uppercase;
			box-shadow: 0 0 0 0 transparent;
			text-align: center;
			background-color: $accent;
			border: 3px solid $white;
			padding: 0;
			right: 15px;
			@include border-radius(100px);
			@include box-shadow(0 2px 4px rgba(0,0,0,0.3));
			width: 60px;
			height: 60px;
			i {
				text-transform: lowercase;
				font-family: $symbol;
				font-style: normal;
				position: relative;
				line-height: 1;
				top: -29px;
				font-size: 90px;
			}
		}

.backbutton {
	position: absolute;
	bottom: -152px;
	@include breakpoint(desktop) {
		width: 25%;
		bottom: auto;
	}
	width: 96%;
	&:hover {
		border-bottom: 0 solid transparent;
	}
	div {
		@extend .read-more;
		opacity: 1;
		position: relative;
		right: auto;
		top: auto;
		background-color: $white;
		border-color: darken($white, 15%);
		width: 90px;
		height: 90px;
		margin: 20px;
		&:hover > i {
			color: lighten($primary, 10%);
		}
		h2 {
			color: $white;
		    display: block;
		    float: left;
		    font-size: 20px;
		    left: 110px;
		    position: absolute;
		    top: 4px;
		    letter-spacing: 1px;
		    font-family: $slab-regular;
		}
		i {
			font-size: 120px;
			top: -43px;
		}
	}
}

.general-btn {
	left: 30px;
	bottom: -152px;
	div {
		color: $gray;
		&:hover > i {
			color: $black;
		}
	}
	h2 {
		width: 200%;
		top: 17px !important;
	}
	i {
		font-size: 100px !important;
		top: -30px !important;
	}
}

.halfcol {
	&:last-of-type {
		margin-right: 0;
	}
	.box {
		figure {
			height: $height - 100px;
			img {top: 0;}
		}
		article {
			section {
				width: 90%;
			}
		}
	}
	@include breakpoint(desktop) {
		margin-right: 2%;
		width: 49%;
		float: left;
		// margin: 2% 3%;
		.read-more {
			width: 60px !important;
			height: 60px !important;
			i {
				font-size: 80px !important;
				top: -22px !important;
			}
		}
	}
	.sources {
		h1 {
			box-shadow: 0 -113px 41px -68px rgba(0, 0, 0, 0.9) inset !important;
		}
	}
}

.threecol {
	border-top: 15px solid $primary;
	position: relative;
	top: 0;
	@include transition(top .3s ease-in-out);
	a {
		white-space: nowrap;
	}
	&:hover {border-top-color: lighten($primary, 10%);}
	&:hover > figure {border-top-color: lighten($accent, 10%);}

	@include breakpoint(desktop) {
		&:hover {
			top: -25px;
		}
		width: 31%;
		margin-right: 3%;
		&:first-of-type {
			margin-top: 0;
		}
		&:last-of-type {
			margin-right: 0;
		}
		figure {height: $height + 250px !important;}
	}
	figure {
		border-top: 5px solid $accent;
		height: $height - 25px;
		img {
			top: 0;
			@include breakpoint(desktop) {
				height: 100%;
				margin-top: 0;
				width: auto !important;
			}
		}
		.pictures img {
			@include breakpoint(desktop) {
				max-width: none !important;
				position: relative;
				//left: -20%;
			}
		}
		h1 {
			bottom: auto;
			top: 0;
			height: 100px;
			box-shadow: 0 61px 31px -18px rgba(0, 0, 0, 0.9) inset;
			padding: 4%;
		}
	}
}

.contact {
	overflow: visible;
	margin-top: 150px !important;
	@include breakpoint(desktop) {
		margin-top: 90px !important;
	}
	article {
		@include clearfix;
		section {
			width: 90%;
			margin-bottom: 70px;
		}
		footer {
			width: 100%;
			display: block;
			@include breakpoint(desktop) {
				display: block;
			}
			
			position: absolute;
			bottom: 0;
			padding: 0 !important;
			z-index: 2;
			background-image: none;
			ul {
				position: absolute;
				bottom: 0;
				margin: 0;
				width: 100%;
				height: auto;
				padding: 0;
				background-color: transparent;
				li {
					float: left;
					width: 33.333%;
					height: 100%;
					height: 40px;
					overflow: hidden;
					a {
						margin: 0;
						padding: 0;
						&:hover {
							border-bottom: 0 solid transparent;
						}
						&:hover > img {
							height: 35px;
							width: 35px;
							margin: 3% 31%;
						}
						@include breakpoint(tablet) {
							&:hover > img {
								height: 35px;
								width: 35px;
								margin: 2% 43%;
							}
						}
						@include breakpoint(desktop) {
							&:hover > img {
								height: 35px;
								width: 35px;
								margin: 3% 31%;
							}
						}
						width: 100%;
						display: block;
						//height: 10%;
						img {
							height: 30px;
							width: 30px;
							margin: 7% 34%;
							@include breakpoint(tablet) {
								margin: 3% 43.8%;
							}
							@include breakpoint(desktop) {
								margin: 7% 34%;
							}
						}
					}
					@include nobullet;
					&:nth-child(odd) {
						background-color: $accent;
					}
					&:nth-child(2) {
						background-color: $primary;
					}
				}
			}
		}
	}
	.avatar {
		width: 80%;
		max-width: 350px;
		overflow: hidden;
		border: $white 7px solid;
		position: relative;
		top: -115px;
		margin: 0 auto -115px;
		img {
			width: 100%;
			margin-bottom: -6px;
		}
	}
}

br {
	margin: 0 0 15px;
}

.sources {
	figure {
		cursor: auto;
	}
	a {
		white-space: nowrap;
	}
	h1 {
		a {color: $white;}
		box-shadow: 0 -53px 61px 2px rgba(0, 0, 0, 0.9) inset !important;
	}
	border-bottom: 15px solid $primary;
	figure {
		border-bottom: 5px solid $accent;
	}
	&:hover {border-bottom-color: lighten($primary, 10%);}
}

.preload {
	display: none;
}

.fullwidthcontent {
	width: 90% !important;
	@include breakpoint(desktop) {
		width: 96% !important;
	}
	.span3 {
		width: 98%;
		margin: 0 16px;
		@include breakpoint(tablet) {
			width: 27%;
			margin: 0 18px;
			float: left;
			&:last-of-type {
				margin-right: 0;
			}
		}
		@include breakpoint(desktop) {
			width: 28%;
		}
		img {
			//height: 80%;
			margin: 10%;
			max-width: 80%;
		}
		h2 {
			font-size: 25px;
			font-family: $sans-regular;
			color: $black;
		}
	}
}

.img-left {
	p, ul {
		width: 100%;
		float: left;
		margin-top: 20px;
		@include breakpoint(desktop) {
			width: 70%;
		}
		li {@include nobullet;}
		li span {
			font-family: $sans-bold;
		}
		@include breakpoint(tablet) {
			width: 62%;
			float: right;
			margin-top: 0;
		}
	}
	h2 {
		color: $black !important;
		font-family: $slab-bold;
		@include breakpoint(tablet) {
			font-size: 20px;
			
			float: right;
			width: 62% !important;
		}
	}
	img {
		width: 25%;
		float: left;	
		margin-right: 20px;
		@include breakpoint(desktop) {
			width: 30%;
			position: relative;
			left: 10px;
		}
	}
	.is-shown {
		@include breakpoint(tablet) {
			width: 30%;
			float: left;
		}
		width: 100%;
		margin: 10px;
	}
}

/* ::Media queries */
/* ------------------------------------------------------------ */

// If using gridset or another pre-defined grid, these should match up to the same breakpoints

// Below examples use a mobile-first approach


// Eg for 480px
//@media screen and (min-width: em-font(480px)) {}

// Eg for 800px -- DESKTOP
//@media screen and (min-width: em-font(800px)) {}

// Eg for 1240px
//@media screen and (min-width: em-font(1240px)) {}

// Print styles
@media print {
	body {
		// Smaller type for printing. Save a tree
		font-size: percentage(10 / 16);
		@include adjust-leading-to(2);
	}
}


// IOS specifics 
@media screen and (max-width: 769px) {  // Absolute measure here, as we're talking about devices, not screen size
	-webkit-text-size-adjust:none; 		// Stop iPhone/iPad from scaling text
}


/* ::State styles */
/* ------------------------------------------------------------ */

.is-hidden {
	display: none !important;
	@include breakpoint(desktop) {
		display: block !important;
	}
}

.is-shown, .is-block {
	display: block !important;
	@include breakpoint(desktop) {
		display: none !important;
	}
}

.is-uppercase {
	text-transform: uppercase;
	letter-spacing: 1px;
}

.is-lowercase {
	text-transform: lowercase;
}

/* ::Debugs and #grid by Jon Gibbins */
/* ----------------------------------------------------------- */

#grid {
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
}

#grid div.horiz{
	// Use this one NOT using a global border-box setting
	// height: $base-line-height - 1px;
	
	// Use this one if you ARE using a global border-box setting
    height: $base-line-height;
    
    // Carry on...
    border-bottom: 1px solid #ddd;
    margin: 0;
    padding: 0;
}

// nav

/* Special class on .container surrounding .navbar, used for positioning it into place. */
    .container {
    	width: 100% !important;
    }

    .navbar {
    	border-bottom: solid 3px $primary;
    }

    .navbar-wrapper {
      position: fixed;
      top: 0;
      left: 0;
      right: 0;
      z-index: 9999;
      //margin-top: 20px;
      margin-bottom: -90px; /* Negative margin to pull up carousel. 90px is roughly margins and height of navbar. */
    }
    .navbar-wrapper .navbar {

    }

    .brand {
      height: 55px;
      overflow: hidden;
      img {
        margin-top: -2px;
        height: 30px;
      }
    }

    .navbar-inverse .brand:hover, .navbar-inverse .nav > li > a:hover, .navbar-inverse .brand:focus, .navbar-inverse .nav > li > a:focus {
      //@include background-image(linear-gradient(top, $blue, lighten($blue, 10%)));
    }

    /* Remove border and change up box shadow for more contrast */
    .navbar .navbar-inner {
      //@include background-image(linear-gradient(top, lighten($blue, 10%), $blue));
      background-image: url(../img/darkslats.png);
      border: 0;
      border-radius: 0;
       -webkit-box-shadow: 0 0 0px rgba(0,0,0,0);
          -moz-box-shadow: 0 0 0px rgba(0,0,0,0);
               box-shadow: 0 0 0px rgba(0,0,0,0);
      &:before {
        //@include background-image(linear-gradient(top, lighten($blue, 10%), $blue));
        bottom: 0;
        content: "";
        position: absolute;
        top: 0;
        height: 55px;
        z-index: -5;
        width: 9999px;
      }
      &:before {
        left: 0;
      }
    }

    .navbar-inverse .brand, .navbar-inverse .nav > li > a {
      color: $white;
    }

    .navbar-inverse .btn-navbar {
    	background-color: $gray;
    	@include background-image(linear-gradient(top, $lightgray, lighten($mediumgray, 10%)));
    	&:hover {
    		background-color: darken($lightgray, 3%);
    	}
    }

    .navbar-inverse .nav li.dropdown.open > .dropdown-toggle, .navbar-inverse .nav li.dropdown.active > .dropdown-toggle, .navbar-inverse .nav li.dropdown.open.active > .dropdown-toggle {
      //@include background-image(linear-gradient(top, $blue, lighten($blue, 10%)));
    }

    /* Downsize the brand/project name a bit */
    .navbar .brand {
      padding: 14px 20px 16px; /* Increase vertical padding to match navbar links */
      font-size: 16px;
      font-weight: bold;
      text-shadow: 0 -1px 0 rgba(0,0,0,.5);
    }

    /* Navbar links: increase padding for taller navbar */
    .navbar .nav > li > a {
      padding: 15px 20px;
      outline: 0;
      &:hover {
        //@include background-image(linear-gradient(top, $blue, lighten($blue, 10%)));
      }
    }

    .navbar-inverse .nav-collapse .nav > li > a, .navbar-inverse .nav-collapse .dropdown-menu a {
    	color: $white !important;
    }

    /* Offset the responsive button for proper vertical alignment */
    .navbar .btn-navbar {
      margin-top: 10px;
    }

    .navbar-inverse .nav .active > a, .navbar-inverse .nav .active > a:hover, .navbar-inverse .nav .active > a:focus {
      //@include background-image(linear-gradient(top, $blue, lighten($blue, 10%)));
      outline: 0;
    }



// COLOR THEMES

.red {
	border-top-color: $red;
	border-bottom-color: $red;
	figure {
		border-top-color: $darkred;
		border-bottom-color: $darkred;
	}
	article {
		border-bottom-color: $red;
		border-top-color: $darkred;
		section {
			h2 {color: $red;}
			a:link, a:visited {color: $red;}
			a:hover, a:active {color: lighten($red, 10%); border-bottom-color: $red;}
		}
		footer {
			ul li {
				&:nth-child(odd) {
					background-color: $darkred;
				}
				&:nth-child(2) {
					background-color: $red;
					&:hover {
						background-color: lighten($red, 10%) !important;
					}
				}
			}
		}
	}
	.tab {
		border-top-color: $darkred;
	}
	&:hover > article {
		border-bottom-color: lighten($red, 10%);
	}
	&:hover {
		border-top-color: lighten($red, 10%);
		border-bottom-color: lighten($red, 10%);
	}
	&:hover > h1 {
		color: $red !important;
	}
}
.green {
	border-top-color: $green;
	border-bottom-color: $green;
	figure {
		border-top-color: $darkgreen;
		border-bottom-color: $darkgreen;
	}
	article {
		border-bottom-color: $green;
		border-top-color: $darkgreen;
		section {
			h2 {color: $green;}
			a:link, a:visited {color: $green;}
			a:hover, a:active {color: lighten($green, 10%); border-bottom-color: $green;}
		}
		footer {
			ul li {
				&:nth-child(odd) {
					background-color: $darkgreen;
				}
				&:nth-child(2) {
					background-color: $green;
					&:hover {
						background-color: lighten($green, 10%) !important;
					}
				}
			}
		}
	}
	.tab {
		border-top-color: $darkgreen;
	}
	&:hover > article {
		border-bottom-color: lighten($green, 10%);
	}
	&:hover {
		border-top-color: lighten($green, 10%);
		border-bottom-color: lighten($green, 10%);
	}
}
.blue {
	border-top-color: $blue;
	border-bottom-color: $blue;
	figure {
		border-top-color: $darkblue;
		border-bottom-color: $darkblue;
	}
	article {
		border-bottom-color: $blue;
		border-top-color: $darkblue;
		section {
			h2 {color: $blue;}
			a:link, a:visited {color: $blue;}
			a:hover, a:active {color: lighten($blue, 10%); border-bottom-color: $blue;}
		}
		footer {
			ul li {
				&:nth-child(odd) {
					background-color: $darkblue;
				}
				&:nth-child(2) {
					background-color: $blue;
					&:hover {
						background-color: lighten($blue, 10%) !important;
					}
				}
			}
		}
	}
	.tab {
		border-top-color: $darkblue;
	}
	&:hover > article {
		border-bottom-color: lighten($blue, 10%);
	}
	&:hover {
		border-top-color: lighten($blue, 10%);
		border-bottom-color: lighten($blue, 10%);
	}
}
.orange {
	border-top-color: $orange;
	border-bottom-color: $orange;
	figure {
		border-top-color: $darkorange;
		border-bottom-color: $darkorange;
	}
	article {
		border-bottom-color: $orange;
		border-top-color: $darkorange;
		section {
			h2 {color: $orange;}
			a:link, a:visited {color: $orange;}
			a:hover, a:active {color: lighten($orange, 10%); border-bottom-color: $orange;}
		}
		footer {
			ul li {
				&:nth-child(odd) {
					background-color: $darkorange;
				}
				&:nth-child(2) {
					background-color: $orange;
					&:hover {
						background-color: lighten($orange, 10%) !important;
					}
				}
			}
		}
	}
	.tab {
		border-top-color: $darkorange;
	}
	&:hover > article {
		border-bottom-color: lighten($orange, 10%);
	}
	&:hover {
		border-top-color: lighten($orange, 10%);
		border-bottom-color: lighten($orange, 10%);
	}
}

.red-theme {
	background-color: $red;
	background-image: url("../img/redcity.png"), url("../img/darkred-tex.png");
	background-position: center 40px, left top;
	background-repeat: no-repeat, repeat;
	background-size: auto 500px, auto auto;
	.navbar {
		border-bottom-color: $darkred;
	}
	@include breakpoint(desktop) {
		background-position: center top, left top;
		nav {
			border-right-color: $red;
			&:before {border-right-color: $darkred;}
		}
	}
	nav {
		border-bottom-color: $red;
		.color-red {
			width: 100%;
		}
		footer ul li a:hover {
			border-bottom-color: $red;
		}
	}
	.box {
		.slider-btn {
			background-color: transparentize($darkred, 0.1);
			//color: $red;
		}
		.tab {
			border-top-color: $darkred;
		}
		figure .read-more {background-color: transparentize($darkred, 0.1);}
		article {
			border-bottom-color: $red;
			border-top-color: $darkred;
			blockquote {
				color: $red;
				border-left-color: $darkred;
				border-right-color: $darkred;
			}
			aside {
				background-color: lighten($red, 65%);
				h3 {
					background-color: $darkred;
				}
				p:before {background-color: lighten($red, 65%);}
				ul li a:hover {
					background-color: $red;
					border-bottom-color: $darkred;
				}
			}
			section {
				h2 {color: $red;}
				a:link, a:visited {color: $red;}
				a:hover, a:active {color: lighten($red, 10%); border-bottom-color: $red;}
			}
		}
		&:hover > article {
			border-bottom-color: lighten($red, 10%);
		}
	}
	.halfcol .box:hover > article {
		border-bottom-color: lighten($red, 10%);
	}
	.threecol {
		border-top-color: $red;
		figure {border-top-color: $darkred;}
		&:hover {border-top-color: lighten($red, 10%);}
	}
	.backbutton {
		div {
			i {
				color: $red;
			}
			&:hover > i {
				color: lighten($red, 10%);
			}
		}
	}
}
.green-theme {
	background-color: $green;
	background-image: url("../img/greencity.png"), url("../img/darkgreen-tex.png");
	background-position: center 40px, left top;
	background-repeat: no-repeat, repeat;
	background-size: auto 500px, auto auto;
	.navbar {
		border-bottom-color: $darkgreen;
	}
	@include breakpoint(desktop) {
		background-position: center top, left top;
		nav {
			border-right-color: $green;
			&:before {border-right-color: $darkgreen;}
		}
	}
	nav {
		border-bottom-color:$green;
		.color-green {
			width: 100%;
		}
		footer ul li a:hover {
			border-bottom-color: $green;
		}
	}
	.box {
		.slider-btn {
			background-color: transparentize($darkgreen, 0.1);
			//color: $green;
		}
		.tab {
			border-top-color: $darkgreen;
		}
		figure .read-more {background-color: transparentize($darkgreen, 0.1);}
		article {
			border-bottom-color: $green;
			border-top-color: $darkgreen;
			blockquote {
				color: $green;
				border-left-color: $darkgreen;
				border-right-color: $darkgreen;
			}
			aside {
				background-color: lighten($green, 65%);
				h3 {
					background-color: $darkgreen;
				}
				p:before {background-color: lighten($green, 65%);}
				ul li a:hover {
					background-color: $green;
					border-bottom-color: $darkgreen;
				}
			}
			section {
				h2 {color: $green;}
				a:link, a:visited {color: $green;}
				a:hover, a:active {color: lighten($green, 10%); border-bottom-color: $green;}
			}
		}
		&:hover > article {
			border-bottom-color: lighten($green, 10%);
		}
	}
	.threecol {
		border-top-color: $green;
		figure {border-top-color: $darkgreen;}
		&:hover {border-top-color: lighten($green, 10%);}
	}
	.backbutton {
		div {
			i {
				color: $green;
			}
			&:hover > i {
				color: lighten($green, 10%);
			}
		}
	}
}
.blue-theme {
	#container {
		margin-bottom: 150px;
	}
	background-color: $blue;
	background-image: url("../img/bluecity.png"), url("../img/darkblue-tex.png");
	background-position: center 40px, left top;
	background-repeat: no-repeat, repeat;
	background-size: auto 500px, auto auto;
	.navbar {
		border-bottom-color: $darkblue;
	}
	@include breakpoint(desktop) {
		background-position: center top, left top;
		nav {
			border-right-color: $blue;
			&:before {border-right-color: $darkblue;}
		}
	}
	nav {
		border-bottom-color: $blue;
		.color-blue {
			width: 100%;
		}
		footer ul li a:hover {
			border-bottom-color: $blue;
		}
	}
	.box {
		.slider-btn {
			background-color: transparentize($darkblue, 0.1);
			//color: $blue;
		}
		.tab {
			border-top-color: $darkblue;
		}
		figure .read-more {background-color: transparentize($darkblue, 0.1);}
		article {
			border-bottom-color: $blue;
			border-top-color: $darkblue;
			blockquote {
				color: $blue;
				border-left-color: $darkblue;
				border-right-color: $darkblue;
			}
			aside {
				background-color: lighten($blue, 55%);
				h3 {
					background-color: $darkblue;
				}
				p:before {background-color: lighten($blue, 55%);}
				ul li a:hover {
					background-color: $blue;
					border-bottom-color: $darkblue;
				}
			}
			section {
				h2 {color: $blue;}
				a:link, a:visited {color: $blue;}
				a:hover, a:active {color: lighten($blue, 10%); border-bottom-color: $blue;}
			}
		}
		&:hover > article {
			border-bottom-color: lighten($blue, 10%);
		}
	}
	.threecol {
		border-top-color: $blue;
		figure {border-top-color: $darkblue;}
		&:hover {border-top-color: lighten($blue, 10%);}
	}
	.backbutton {
		div {
			i {
				color: $blue;
			}
			&:hover > i {
				color: lighten($blue, 10%);
			}
		}
	}
}
.orange-theme {
	background-color: $orange;
	background-image: url("../img/orangecity.png"), url("../img/darkorange-tex.png");
	background-position: center 40px, left top;
	background-repeat: no-repeat, repeat;
	background-size: auto 500px, auto auto;
	.navbar {
		border-bottom-color: $darkorange;
	}
	@include breakpoint(desktop) {
		background-position: center top, left top;
		nav {
			border-right-color: $orange;
			&:before {border-right-color: $darkorange;}
		}
	}
	nav {
		border-bottom-color: $orange;
		.color-orange {
			width: 100%;
		}
		footer ul li a:hover {
			border-bottom-color: $orange;
		}
	}
	.box {
		.slider-btn {
			background-color: transparentize($darkorange, 0.1);
			//color: $orange;
		}
		.tab {
			border-top-color: $darkorange;
		}
		figure .read-more {background-color: transparentize($darkorange, 0.1);}
		article {
			border-bottom-color: $orange;
			border-top-color: $darkorange;
			blockquote {
				color: $orange;
				border-left-color: $darkorange;
				border-right-color: $darkorange;
			}
			aside {
				background-color: lighten($orange, 45%);
				h3 {
					background-color: $darkorange;
				}
				p:before {background-color: lighten($orange, 45%);}
				ul li a:hover {
					background-color: $orange;
					border-bottom-color: $darkorange;
				}
			}
			section {
				h2 {color: $orange;}
				a:link, a:visited {color: $orange;}
				a:hover, a:active {color: lighten($orange, 10%); border-bottom-color: $orange;}
			}
		}
		&:hover > article {
			border-bottom-color: lighten($orange, 10%);
		}
	}
	.threecol {
		border-top-color: $orange;
		figure {border-top-color: $darkorange;}
		&:hover {border-top-color: lighten($orange, 10%);}
	}
	.backbutton {
		div {
			i {
				color: $orange;
			}
			&:hover > i {
				color: lighten($orange, 10%);
			}
		}
	}
}


//***************************************/

// IMG CSS

//****************************************/



	figure img {
		position: absolute;
		width: 100%;
	
	}
	
	img#presentday2, img#presentday3, img#presentday4, img#presentday5 {
		opacity: 0;
		z-index: 5;
	}
	
	
	/* ========   PANEL SIZES FOR 4 IMAGES   =============== */
	.pictures {
		position: absolute;
		width: 100%;
		height: 100%;
		z-index: 1;
		img {
			opacity: 0;
			z-index: 5;
			&:first-of-type {
				opacity: 1;
			}
		}
	}
	
	$column-width: 25%;

	.rollovers {
		@extend .pictures;
		width: $column-width;
		z-index: 10;
		&:nth-child(3) {
			&:hover ~ .pictures img:nth-child(2) {
				opacity: 1;
				z-index: 9;
			}
		}
		&:nth-child(4) {
			left: $column-width;			
			&:hover ~ .pictures img:nth-child(3) {
				opacity: 1;
				z-index: 8;
			}
		}
		&:nth-child(5) {
			left: $column-width * 2;			
			&:hover ~ .pictures img:nth-child(4) {
				opacity: 1;
				z-index: 7;
			}
		}
		&:nth-child(6) {
			left: $column-width * 3;			
			&:hover ~ .pictures img:nth-child(5) {
				opacity: 1;
				z-index: 6;
			}
		}
	}

.slider-btn {
	color: $white;
	background-color: transparentize($accent, 0.1);
	height: 30px;
	width: 65px;
	margin: 10px 0;
	padding: 0 0 0 10px;
	cursor: pointer;
	letter-spacing: 7px;
	border-right: 3px solid $white;
	@include breakpoint(desktop) {
		height: 50px;
		width: 100px;
		letter-spacing: 0;
	}
	p {
		font-size: 33px;
		font-family: $symbol;
		position: relative;
		top: -14px;
		right: 0;
		@include breakpoint(desktop) {
			font-size: 55px;
			top: -22px;
			right: 0;
		}
		span {
			text-transform: uppercase;
			font-size: 13px;
			font-family: $sans-regular;
			letter-spacing: 1px;
			position: relative;
			top: -9px;
			margin: 0 5px;
		}
	}
}

.slider-control {
		position: absolute;
		top: 0;
		z-index: 9;
		display: block;
		opacity: .7;
	@include breakpoint(desktop) {
		left: -82px;
		opacity: .5;
		@include transition(opacity, left 0.5s ease-in-out);
		&:hover {
			opacity: 1;
			left: 0;
		}
	}
}

// swipe required css

.swipe {
  overflow: hidden;
  visibility: hidden;
  position: relative;
}
.swipe-wrap {
  overflow: hidden;
  position: relative;
}
.swipe-wrap > div {
  float:left;
  width:100%;
  position: relative;
}

.swipe-wrap div img {
  width: 100%;
  position: relative;
}