* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

q, blockquote {
  quotes: none;
}

q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

a img {
  border: none;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

button, input {
  line-height: normal;
}

button, input, select, textarea {
  font-size: 100%;
  margin: 0;
  vertical-align: baseline;
  *vertical-align: middle;
}

button, input[type="button"], input[type="reset"], input[type="submit"] {
  cursor: pointer;
  *overflow: visible;
}

button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

textarea {
  overflow: auto;
  vertical-align: top;
  resize: vertical;
}

/*********************
CLEARFIXIN'
*********************/
.clearfix, #container, .box article section, header article section {
  zoom: 1;
}
.clearfix:before, #container:before, .box article section:before, header article section:before, .clearfix:after, #container:after, .box article section:after, header article section:after {
  content: "";
  display: table;
}
.clearfix:after, #container:after, .box article section:after, header article section:after {
  clear: both;
}

/*********************
BORDER RADIUS
*********************/
/*
I totally rewrote this to be cleaner and easier to use.
You'll need to be using Sass 3.2+ for these to work.
Thanks to @anthonyshort for the inspiration on these.
USAGE: @include border-radius(4px 4px 0 0);
*/
/*********************
TRANISTION
*********************/
/*
I totally rewrote this to be cleaner and easier to use.
You'll need to be using Sass 3.2+ for these to work.
Thanks to @anthonyshort for the inspiration on these.
USAGE: @include transition(all 0.2s ease-in-out);
*/
/*********************
BOX SHADOWS
*********************/
/*
I totally rewrote this to be cleaner and easier to use.
You'll need to be using Sass 3.2+ for these to work.
Thanks to @anthonyshort for the inspiration on these.
USAGE: @include box-shadow(inset 0 0 4px rgba(0,0,0,0.22));
*/
/*********************
CSS3 GRADIENTS
Be careful with these since they can
really slow down your CSS. Don't overdue it.
*********************/
/* @include css-gradient(#dfdfdf,#f8f8f8); */
/* ::Clearfixs and extends. Use which suits best */
/* ----------------------------------------------------------- */
.clearfix, #container, .box article section, header article section {
  zoom: 1;
}
.clearfix:before, #container:before, .box article section:before, header article section:before, .clearfix:after, #container:after, .box article section:after, header article section:after {
  content: "";
  display: table;
}
.clearfix:after, #container:after, .box article section:after, header article section:after {
  clear: both;
}

.pie-clearfix {
  *zoom: 1;
}
.pie-clearfix:after {
  content: "";
  display: table;
  clear: both;
}

.max-width {
  max-width: 100%;
  height: auto;
}

/* ::Base styles almost exclusively single element selectors */
/* ------------------------------------------------------------ */
html {
  font-size: 100%;
}

body {
  color: #0e0e0e;
  background-color: #0e0e0e;
  font-family: "arvoregular", Tahoma, sans-serif;
  letter-spacing: 1;
  background-color: #646464;
  background-image: url("../img/graycity.png"), url("../img/darkgray-tex.png");
  background-position: center 340px, left top;
  background-repeat: no-repeat, repeat;
  background-size: auto 500px, auto auto;
}
@media (min-width: 56.25em) {
  body {
    background-size: auto auto, auto auto;
    background-position: center top, left top;
  }
}

a {
  color: #646464;
  text-decoration: none;
  white-space: pre;
  white-space: pre-wrap;
  white-space: pre-line;
  white-space: -pre-wrap;
  white-space: -o-pre-wrap;
  white-space: -moz-pre-wrap;
  white-space: -hp-pre-wrap;
  word-wrap: break-word;
}
a:hover, a:focus, a:active {
  color: #7e7e7e;
  text-decoration: none;
  border-bottom: 1px solid #7e7e7e;
}

/*********************
CLEARFIXIN'
*********************/
.clearfix, #container, .box article section, header article section {
  zoom: 1;
}
.clearfix:before, #container:before, .box article section:before, header article section:before, .clearfix:after, #container:after, .box article section:after, header article section:after {
  content: "";
  display: table;
}
.clearfix:after, #container:after, .box article section:after, header article section:after {
  clear: both;
}

/*********************
BORDER RADIUS
*********************/
/*
I totally rewrote this to be cleaner and easier to use.
You'll need to be using Sass 3.2+ for these to work.
Thanks to @anthonyshort for the inspiration on these.
USAGE: @include border-radius(4px 4px 0 0);
*/
/*********************
TRANISTION
*********************/
/*
I totally rewrote this to be cleaner and easier to use.
You'll need to be using Sass 3.2+ for these to work.
Thanks to @anthonyshort for the inspiration on these.
USAGE: @include transition(all 0.2s ease-in-out);
*/
/*********************
BOX SHADOWS
*********************/
/*
I totally rewrote this to be cleaner and easier to use.
You'll need to be using Sass 3.2+ for these to work.
Thanks to @anthonyshort for the inspiration on these.
USAGE: @include box-shadow(inset 0 0 4px rgba(0,0,0,0.22));
*/
/*********************
CSS3 GRADIENTS
Be careful with these since they can
really slow down your CSS. Don't overdue it.
*********************/
/* @include css-gradient(#dfdfdf,#f8f8f8); */
h1 {
  font-size: 2.25em;
  line-height: 1.1111111em;
  margin: 0 0 0.6666667em 0;
}

h2 {
  font-size: 1.125em;
  line-height: 1.3333333em;
  margin: 1.0666667em 0 0.5333333em 0;
}

h3 {
  font-size: 1.375em;
  line-height: 1.4545455em;
  margin: 1.4545455em 0 0.7272727em 0;
}

h4 {
  font-size: 0.8125em;
  line-height: 1.8461538em;
  margin: 0 0 0.4em 0;
}

h5 {
  font-size: 0.75em;
  line-height: 1.3333333em;
  margin: 0 0 0.4444444em 0;
}

h6 {
  font-size: 0.625em;
  line-height: 1.6em;
  margin: 0 0 0.5em 0;
}

p, pre, label {
  font-size: 1em;
  line-height: 1.5em;
  margin: 0 0 1em 0;
}

ol, ul {
  font-size: 1em;
  line-height: 1.5em;
  margin: 0 0 2em 0;
}

li {
  line-height: auto;
}

ul {
  list-style-position: outside;
  list-style-type: disc;
}

ol {
  list-style-position: outside;
  list-style-type: decimal;
}

strong, b {
  font-weight: 600;
}

em, i, q {
  font-style: italic;
}

blockquote {
  padding-left: 1em;
  border-left: 0.3125em solid grey;
  line-height: normal;
  margin: 0;
}
blockquote p {
  font-style: italic;
  margin: 0;
  font-size: 1.25em;
  line-height: 1.2em;
  margin: 1.2em 0 1.2em 0;
}

h1, h2, h3, h4 {
  margin-top: 0;
}

label, select {
  display: block;
}

input[type="search"] {
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  -webkit-appearance: textfield;
  box-sizing: content-box;
}

input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button {
  -webkit-appearance: none;
}

textarea {
  overflow: auto;
  vertical-align: top;
}

textarea,
input[type="text"],
input[type="password"],
input[type="datetime"],
input[type="datetime-local"],
input[type="date"],
input[type="month"],
input[type="time"],
input[type="week"],
input[type="number"],
input[type="email"],
input[type="url"],
input[type="search"],
input[type="tel"] {
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  -webkit-transition: border linear 0.2s, box-shadow linear 0.2s;
  -moz-transition: border linear 0.2s, box-shadow linear 0.2s;
  -o-transition: border linear 0.2s, box-shadow linear 0.2s;
  transition: border linear 0.2s, box-shadow linear 0.2s;
}

input[type="radio"],
input[type="checkbox"] {
  margin: 4px 0 0;
  margin-top: 1px \9;
  *margin-top: 0;
  line-height: normal;
  cursor: pointer;
}

input[type="file"],
input[type="image"],
input[type="submit"],
input[type="reset"],
input[type="button"],
input[type="radio"],
input[type="checkbox"] {
  width: auto;
}

select,
input[type="file"] {
  *margin-top: 4px;
  /* In IE7, the height of the select element cannot be changed by height, only font-size */
}

select:focus,
input[type="file"]:focus,
input[type="radio"]:focus,
input[type="checkbox"]:focus {
  outline: thin dotted #333;
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px;
}

/* ::Layout styles - Layouts hold one or more modules together. */
/* ------------------------------------------------------------ */
#container {
  margin: 0 auto 20px;
  width: 95%;
  position: relative;
  padding: 0 2%;
}
@media (min-width: 56.25em) {
  #container {
    width: 80%;
    margin-left: 20%;
    margin-bottom: 150px;
  }
}

#home-container {
  display: inline-block;
  position: relative;
  width: 80%;
  margin-left: 10%;
  margin-right: 10%;
  margin-top: 20px;
}
@media (min-width: 56.25em) {
  #home-container {
    margin-top: -20px;
    width: 50%;
    margin-left: 25%;
    margin-right: 25%;
    margin-bottom: 50px;
  }
}

#home-dummy {
  padding-top: 100%;
}

#home-element {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

#home-element img {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  cursor: pointer;
}

#home-element img.hover {
  z-index: 10;
  opacity: 0;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  -transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

#historybox, #memorialbox, #artsbox, #sitesbox {
  position: absolute;
  width: 50%;
  height: 50%;
}

#aboutbox {
  position: absolute;
  width: 37%;
  height: 37%;
  border-radius: 999px;
  left: 31.5%;
  top: 32%;
  z-index: 30;
  background-color: #888;
}

#aboutbox img {
  border-radius: 999px;
}

#memorialbox {
  left: 50%;
}

#artsbox {
  top: 50%;
}

#sitesbox {
  top: 50%;
  left: 50%;
}

/* HOVERS */
div#aboutbox:hover > img.hover, div#historybox:hover > img.hover, div#memorialbox:hover > img.hover, div#artsbox:hover > img.hover, div#sitesbox:hover > img.hover {
  opacity: 1;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  -transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

nav {
  font-family: "ubuntu", Arial, sans-serif;
  padding: 0 0 20px;
  z-index: 5;
  background-image: url(../img/darkslats.png);
  background-repeat: repeat;
  background-color: #0e0e0e;
  position: relative;
  border-bottom: 5px #646464 solid;
  width: 100%;
}
nav a:link, nav a:visited {
  color: white;
}
nav a:hover, nav a:active {
  color: #e6e6e6;
}
nav ul {
  margin: 0 auto;
}
nav ul li {
  list-style-type: none;
  text-align: center;
}
nav ul li em {
  color: #646464;
  padding: 10px 20px;
  margin-bottom: 5px;
  position: relative;
  bottom: 5px;
}
@media (min-width: 56.25em) {
  nav ul li {
    text-align: left;
  }
}
nav ul li a {
  display: block;
  padding: 5px;
  margin: 5px 0;
  border-bottom: 3px solid transparent;
  -webkit-transition-property: all;
  -moz-transition-property: all;
  -o-transition-property: all;
  transition-property: all;
  -webkit-transition-duration: 0.1s;
  -moz-transition-duration: 0.1s;
  -o-transition-duration: 0.1s;
  transition-duration: 0.1s;
  -webkit-transition-timing-function: ease-in;
  -moz-transition-timing-function: ease-in;
  -o-transition-timing-function: ease-in;
  transition-timing-function: ease-in;
  color: white;
}
nav ul li a:hover, nav ul li a:active {
  width: 100%;
}
nav ul li a:hover {
  color: white;
}
@media (min-width: 56.25em) {
  nav ul li a {
    padding: 10px 20px;
    border-bottom: 1px soild transparent;
  }
}
@media (min-width: 56.25em) {
  nav {
    position: fixed;
    width: 20%;
    height: 100%;
    border-right: 10px solid #646464;
    border-bottom: 0 solid #646464 !important;
  }
  nav:before {
    content: " ";
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border-right: 5px solid #444444;
  }
}
nav .logo {
  margin: 0 auto 15px;
  padding: 37px 20px 10px 15px;
  max-width: 255px;
  position: relative;
}
nav .logo img {
  top: 50px;
  width: 100%;
  left: -5px;
  max-width: 255px;
  position: absolute;
}
@media (min-width: 56.25em) {
  nav .logo img {
    width: 80%;
    left: auto;
  }
}
nav .logo img:first-child {
  opacity: 0;
  -webkit-transition: all 0.02s ease-in-out;
  -moz-transition: all 0.02s ease-in-out;
  -ms-transition: all 0.02s ease-in-out;
  -o-transition: all 0.02s ease-in-out;
  -transition: all 0.02s ease-in-out;
  transition: all 0.02s ease-in-out;
}
nav .logo:hover img:first-child {
  -webkit-transition: all 0.02s ease-in-out;
  -moz-transition: all 0.02s ease-in-out;
  -ms-transition: all 0.02s ease-in-out;
  -o-transition: all 0.02s ease-in-out;
  -transition: all 0.02s ease-in-out;
  transition: all 0.02s ease-in-out;
  opacity: 1;
  z-index: 5;
}
nav div a:hover {
  border-bottom: 0 solid transparent;
}
nav footer {
  display: none;
}
@media (min-width: 56.25em) {
  nav footer {
    display: block;
    bottom: 0;
    position: absolute;
    width: 100%;
  }
  nav footer ul li {
    text-align: center;
  }
}
nav footer ul {
  opacity: 0.6;
  -moz-opacity: 0.6;
}
nav footer ul:hover {
  opacity: 1;
  -moz-opacity: 1;
}
@media (min-width: 56.25em) {
  nav footer ul li a {
    padding: 10px 5px;
    border-bottom: 1px solid transparent;
  }
  nav footer ul li a:hover {
    border-bottom: 1px solid #646464;
  }
}
nav footer div {
  width: 50%;
  margin: 25px auto;
  padding-bottom: 20px;
}
@media (min-width: 30em) {
  nav footer div {
    width: 40%;
  }
}
@media (min-width: 56.25em) {
  nav footer div {
    margin: 20px auto 0;
    width: 60%;
  }
}
nav .color-red, nav .color-green, nav .color-blue, nav .color-orange {
  width: 100%;
}
nav .color-red:hover, nav .color-green:hover, nav .color-blue:hover, nav .color-orange:hover {
  padding-left: 27px;
}
nav .color-red {
  background-color: #a40b00;
  border-bottom: 3px solid #590800;
}
nav .color-red:hover {
  background-color: #a40b00;
  background-image: -webkit-gradient(linear, left, right, from(#d70e00), to(#a40b00));
  background-image: -webkit-linear-gradient(left, #d70e00, #a40b00);
  background-image: -moz-linear-gradient(left, #d70e00, #a40b00);
  background-image: -o-linear-gradient(left, #d70e00, #a40b00);
  background-image: linear-gradient(to right, #d70e00, #a40b00);
}
nav .color-green {
  background-color: #768a00;
  border-bottom: 3px solid #526100;
}
nav .color-green:hover {
  background-color: #768a00;
  background-image: -webkit-gradient(linear, left, right, from(#a2bd00), to(#768a00));
  background-image: -webkit-linear-gradient(left, #a2bd00, #768a00);
  background-image: -moz-linear-gradient(left, #a2bd00, #768a00);
  background-image: -o-linear-gradient(left, #a2bd00, #768a00);
  background-image: linear-gradient(to right, #a2bd00, #768a00);
}
nav .color-blue {
  background-color: #3a8b8b;
  border-bottom: 3px solid #375353;
}
nav .color-blue:hover {
  background-color: #3a8b8b;
  background-image: -webkit-gradient(linear, left, right, from(#49afaf), to(#3a8b8b));
  background-image: -webkit-linear-gradient(left, #49afaf, #3a8b8b);
  background-image: -moz-linear-gradient(left, #49afaf, #3a8b8b);
  background-image: -o-linear-gradient(left, #49afaf, #3a8b8b);
  background-image: linear-gradient(to right, #49afaf, #3a8b8b);
}
nav .color-orange {
  background-color: #c14600;
  border-bottom: 3px solid #923c00;
}
nav .color-orange:hover {
  background-color: #c14600;
  background-image: -webkit-gradient(linear, left, right, from(#f45800), to(#c14600));
  background-image: -webkit-linear-gradient(left, #f45800, #c14600);
  background-image: -moz-linear-gradient(left, #f45800, #c14600);
  background-image: -o-linear-gradient(left, #f45800, #c14600);
  background-image: linear-gradient(to right, #f45800, #c14600);
}
@media (min-width: 56.25em) {
  nav .color-red, nav .color-green, nav .color-blue, nav .color-orange {
    width: 90%;
  }
}

footer {
  margin: 0 auto;
  padding-top: 10px;
}
@media (min-width: 56.25em) {
  footer {
    z-index: -1;
  }
}
footer ul {
  font-size: 12px;
  zoom: 1;
}
footer ul:before, footer ul:after {
  content: "";
  display: table;
}
footer ul:after {
  clear: both;
}
footer ul li {
  width: 50%;
  float: left;
}
footer ul li a {
  width: 100%;
  color: #e6e6e6;
}
footer ul .left-links {
  text-align: right;
  padding-right: 7px;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -ms-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  -transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}
footer ul .left-links:hover {
  padding-right: 14px;
  padding-left: 0;
}
footer ul .left-links a {
  padding-right: 8px;
}
footer ul .right-links {
  text-align: left;
  padding-left: 7px;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -ms-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  -transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}
footer ul .right-links:hover {
  padding-left: 14px;
  padding-right: 0;
}
footer ul .right-links a {
  padding-left: 8px;
}

footer:nth-child(4) {
  display: block;
  text-align: center;
  background-image: url(../img/darkslats.png);
  background-repeat: repeat;
  bottom: -32px;
  position: relative;
}
@media (min-width: 56.25em) {
  footer:nth-child(4) {
    display: none;
  }
}
footer:nth-child(4) img {
  width: 60%;
  margin-top: 20px;
  margin-bottom: 30px;
}
footer:nth-child(4) ul {
  font-size: 15px;
  height: 105px;
  padding: 8px 0;
  background-color: rgba(125, 125, 125, 0.3);
}
footer:nth-child(4) ul li {
  list-style-type: none;
}
footer:nth-child(4) ul li a {
  font-family: "ubuntu", Arial, sans-serif;
  display: block;
  padding: 5px;
  margin: 5px 0;
  border-bottom: 3px solid transparent;
  -webkit-transition-property: all;
  -moz-transition-property: all;
  -o-transition-property: all;
  transition-property: all;
  -webkit-transition-duration: 0.1s;
  -moz-transition-duration: 0.1s;
  -o-transition-duration: 0.1s;
  transition-duration: 0.1s;
  -webkit-transition-timing-function: ease-in;
  -moz-transition-timing-function: ease-in;
  -o-transition-timing-function: ease-in;
  transition-timing-function: ease-in;
  color: white;
}
footer:nth-child(4) ul li a:hover, footer:nth-child(4) ul li a:active {
  width: 100%;
}
footer:nth-child(4) ul li a:hover {
  color: white;
}
footer:nth-child(4) ul li a:hover, footer:nth-child(4) ul li a:active {
  background-color: #646464;
  border-bottom: 3px solid #444444;
  width: 100%;
}

nav footer {
  display: none !important;
}
@media (min-width: 56.25em) {
  nav footer {
    display: block !important;
  }
}

header {
  border-top: 0 transparent solid !important;
  padding: 2%;
}
header h1 {
  font-family: "arvobold", Tahoma, sans-serif;
  font-size: 40px;
  margin: 0;
  color: white;
  text-align: center;
}
@media (min-width: 30em) {
  header h1 {
    font-size: 55px;
  }
}
@media (min-width: 56.25em) {
  header h1 {
    font-size: 73px;
  }
}
header h2 {
  font-family: "ubuntubold", Arial, sans-serif;
  color: white;
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 10px;
  font-size: 21px;
  letter-spacing: 12px;
}
@media (min-width: 40.625em) {
  header h2 {
    font-size: 30px;
    letter-spacing: 15px;
  }
}
@media (min-width: 56.25em) {
  header h2 {
    font-size: 35px;
    letter-spacing: 17px;
  }
}

.subpage {
  margin-top: 10px !important;
}
.subpage h1 {
  font-size: 40px;
  letter-spacing: 1px;
}
@media (min-width: 40.625em) {
  .subpage h1 {
    font-size: 65px;
    letter-spacing: 2.5px;
  }
}
@media (min-width: 56.25em) {
  .subpage h1 {
    font-size: 80px;
    letter-spacing: 4px;
  }
}

.box, header {
  display: inline-block;
  position: relative;
  width: 100%;
  margin: 4% 0;
  overflow: hidden;
}
@media (min-width: 56.25em) {
  .box, header {
    width: 100%;
    margin: 2% 0;
  }
}
.box:first-of-type, header:first-of-type {
  margin-top: 30px;
}
@media (min-width: 56.25em) {
  .box:first-of-type, header:first-of-type {
    margin-top: 50px;
  }
}
.box figure, header figure {
  background-color: #646464;
  width: 100%;
  height: 125px;
  z-index: 1;
  position: relative;
  cursor: pointer;
  overflow: hidden;
}
@media (min-width: 30em) {
  .box figure, header figure {
    height: 250px;
  }
}
@media (min-width: 56.25em) {
  .box figure, header figure {
    height: 300px;
  }
}
.box figure:hover ~ .slider-control, header figure:hover ~ .slider-control {
  opacity: 1;
}
.box figure img, header figure img {
  width: 100%;
  position: absolute;
  top: 0;
  margin-top: -80px;
}
@media (min-width: 30em) {
  .box figure img, header figure img {
    top: -30%;
    margin-top: -80px;
  }
}
@media (min-width: 56.25em) {
  .box figure img, header figure img {
    top: -60%;
    margin-top: -140px;
  }
}
.box figure h1, header figure h1 {
  z-index: 20;
  box-shadow: inset 0 -39px 31px -18px rgba(0, 0, 0, 0.9);
  width: 100%;
  display: block;
  padding: 1%;
  position: absolute;
  margin: 0;
  bottom: 0;
  font-family: "ubuntulight", Arial, sans-serif;
  color: white;
}
.box figure h1 span, header figure h1 span {
  font-family: "arvoregular", Tahoma, sans-serif;
  display: block;
  font-size: 17px;
  letter-spacing: 1px;
  color: #cccccc;
}
.box figure h1 span a, header figure h1 span a {
  color: white;
  font-family: "arvobold", Tahoma, sans-serif;
}
.box figure:hover > .read-more, header figure:hover > .read-more, .box .backbutton figure:hover > div, .backbutton .box figure:hover > div, header .backbutton figure:hover > div, .backbutton header figure:hover > div {
  opacity: 1;
  -moz-opacity: 1;
}
@media (min-width: 56.25em) {
  .box figure:hover > .read-more, header figure:hover > .read-more, .box .backbutton figure:hover > div, .backbutton .box figure:hover > div, header .backbutton figure:hover > div, .backbutton header figure:hover > div {
    top: 10px;
  }
}
.box article, header article {
  border-top: solid 5px #444444;
  border-bottom: solid 15px #444444;
  position: relative;
  background-color: white;
  width: 100%;
}
.box article section, header article section {
  margin: 2%;
  float: left;
  width: 90%;
  padding: 10px;
}
@media (min-width: 56.25em) {
  .box article section, header article section {
    width: 66%;
  }
}
.box article section h2, header article section h2 {
  color: #646464;
  margin: 10px 0;
  width: 100%;
}
.box article .tab, header article .tab {
  width: 100%;
  border-top: solid 5px #444444;
  height: 5px;
  clear: both;
}
.box article aside, header article aside {
  width: 100%;
  background-color: #d0d0d0;
  float: left;
  text-align: left;
  font-family: "ubuntu", Arial, sans-serif;
  box-shadow: inset 0 10px 10px -10px rgba(0, 0, 0, 0.3);
}
@media (min-width: 56.25em) {
  .box article aside, header article aside {
    width: 30%;
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
  }
}
.box article aside h3, header article aside h3 {
  padding: 10px 0;
  padding-left: 20px;
  background-color: #444444;
  color: white;
  border-bottom: 1px solid white;
}
.box article aside p, header article aside p {
  padding: 10px 20px;
  position: relative;
}
.box article aside ul li, header article aside ul li {
  list-style-type: none;
}
.box article aside ul li a, header article aside ul li a {
  color: #0e0e0e;
  width: 100%;
  display: block;
  padding: 5px;
  margin: 5px 0;
  border-bottom: 3px solid transparent;
  -webkit-transition-property: all;
  -moz-transition-property: all;
  -o-transition-property: all;
  transition-property: all;
  -webkit-transition-duration: 0.1s;
  -moz-transition-duration: 0.1s;
  -o-transition-duration: 0.1s;
  transition-duration: 0.1s;
  -webkit-transition-timing-function: ease-in;
  -moz-transition-timing-function: ease-in;
  -o-transition-timing-function: ease-in;
  transition-timing-function: ease-in;
  padding-left: 20px;
}
.box article aside ul li a:hover, header article aside ul li a:hover, .box article aside ul li a:active, header article aside ul li a:active {
  width: 100%;
}
.box article aside ul li a:hover, header article aside ul li a:hover {
  background-color: #646464;
  color: white;
}
.box .collapse, header .collapse {
  height: 20px;
}

.read-more, .backbutton div {
  margin: 0;
  position: absolute;
  -webkit-transition-property: all;
  -moz-transition-property: all;
  -o-transition-property: all;
  transition-property: all;
  -webkit-transition-duration: 0.3s;
  -moz-transition-duration: 0.3s;
  -o-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-timing-function: ease-in-out;
  -moz-transition-timing-function: ease-in-out;
  -o-transition-timing-function: ease-in-out;
  transition-timing-function: ease-in-out;
  color: #646464;
  font-size: 8px;
  font-family: "arvobold", Tahoma, sans-serif;
  bottom: auto;
  top: -80px;
  opacity: 0;
  z-index: 5;
  -moz-opacity: 0;
  text-transform: uppercase;
  box-shadow: 0 0 0 0 transparent;
  text-align: center;
  background-color: white;
  border: 3px solid #cccccc;
  height: 50px;
  width: 50px;
  padding: 0;
  right: 15px;
  -webkit-border-radius: 100px;
  -moz-border-radius: 100px;
  -ms-border-radius: 100px;
  -o-border-radius: 100px;
  border-radius: 100px;
  border-radius: 100px;
  -webkit-box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
  -ms-box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
  -o-box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
  -box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
}
.read-more i, .backbutton div i {
  text-transform: lowercase;
  font-family: "EntypoRegular", none;
  font-style: normal;
  font-size: 63px;
  position: relative;
  top: -14px;
  line-height: 1;
}
@media (min-width: 30em) {
  .read-more i, .backbutton div i {
    top: -20px;
    font-size: 80px;
  }
}
@media (min-width: 56.25em) {
  .read-more i, .backbutton div i {
    top: -33px;
    font-size: 120px;
  }
}
@media (min-width: 30em) {
  .read-more, .backbutton div {
    width: 60px;
    height: 60px;
  }
}
@media (min-width: 56.25em) {
  .read-more, .backbutton div {
    width: 90px;
    height: 90px;
  }
}

.backbutton {
  position: absolute;
  bottom: -152px;
  width: 96%;
}
@media (min-width: 56.25em) {
  .backbutton {
    width: 25%;
    bottom: auto;
  }
}
.backbutton:hover {
  border-bottom: 0 solid transparent;
}
.backbutton div {
  opacity: 1;
  position: relative;
  right: auto;
  top: auto;
  width: 90px;
  height: 90px;
  margin: 20px;
}
.backbutton div:hover > i {
  color: #7e7e7e;
}
.backbutton div h2 {
  color: white;
  display: block;
  float: left;
  font-size: 20px;
  left: 110px;
  position: absolute;
  top: 4px;
  letter-spacing: 1px;
  font-family: "arvoregular", Tahoma, sans-serif;
}
.backbutton div i {
  font-size: 120px;
  top: -43px;
}

.halfcol {
  margin-right: 2%;
}
.halfcol:last-of-type {
  margin-right: 0;
}
.halfcol .box figure, .halfcol header figure {
  height: 200px;
}
.halfcol .box figure img, .halfcol header figure img {
  top: 0;
}
.halfcol .box article section, .halfcol header article section {
  width: 90%;
}
@media (min-width: 56.25em) {
  .halfcol {
    width: 49%;
    float: left;
  }
  .halfcol .read-more, .halfcol .backbutton div, .backbutton .halfcol div {
    width: 60px !important;
    height: 60px !important;
  }
  .halfcol .read-more i, .halfcol .backbutton div i, .backbutton .halfcol div i {
    font-size: 80px !important;
    top: -22px !important;
  }
}
.halfcol .sources h1 {
  box-shadow: 0 -113px 41px -68px rgba(0, 0, 0, 0.9) inset !important;
}

.threecol {
  border-top: 15px solid #646464;
  position: relative;
  top: 0;
  -webkit-transition: top 0.3s ease-in-out;
  -moz-transition: top 0.3s ease-in-out;
  -ms-transition: top 0.3s ease-in-out;
  -o-transition: top 0.3s ease-in-out;
  -transition: top 0.3s ease-in-out;
  transition: top 0.3s ease-in-out;
}
.threecol a {
  white-space: nowrap;
}
.threecol:hover {
  border-top-color: #7e7e7e;
}
.threecol:hover > figure {
  border-top-color: #5d5d5d;
}
@media (min-width: 56.25em) {
  .threecol {
    width: 31%;
    margin-right: 3%;
  }
  .threecol:hover {
    top: -25px;
  }
  .threecol:first-of-type {
    margin-top: 0;
  }
  .threecol:last-of-type {
    margin-right: 0;
  }
  .threecol figure {
    height: 550px !important;
  }
}
.threecol figure {
  border-top: 5px solid #444444;
  height: 275px;
}
.threecol figure img {
  top: 0;
}
@media (min-width: 56.25em) {
  .threecol figure img {
    height: 100%;
    margin-top: 0;
    width: auto !important;
  }
}
@media (min-width: 56.25em) {
  .threecol figure .pictures img, .threecol figure .rollovers img {
    max-width: none !important;
    position: relative;
  }
}
.threecol figure h1 {
  bottom: auto;
  top: 0;
  height: 100px;
  box-shadow: 0 61px 31px -18px rgba(0, 0, 0, 0.9) inset;
  padding: 4%;
}

.contact {
  overflow: visible;
  margin-top: 150px !important;
}
@media (min-width: 56.25em) {
  .contact {
    margin-top: 90px !important;
  }
}
.contact article {
  zoom: 1;
}
.contact article:before, .contact article:after {
  content: "";
  display: table;
}
.contact article:after {
  clear: both;
}
.contact article section {
  width: 90%;
  margin-bottom: 70px;
}
.contact article footer {
  width: 100%;
  height: 10%;
  position: absolute;
  bottom: 0;
  padding: 0;
  z-index: 2;
}
.contact article footer ul {
  position: absolute;
  bottom: 0;
  margin: 0;
  width: 100%;
}
.contact article footer ul li {
  float: left;
  width: 33.333%;
  height: 100%;
  height: 10%;
  list-style-type: none;
}
.contact article footer ul li a {
  width: 100%;
  display: block;
  height: 10%;
}
.contact article footer ul li a:hover {
  border-bottom: 0 solid transparent;
}
.contact article footer ul li a:hover > img {
  height: 40px;
  width: 40px;
  margin: 5% 32% 0;
}
.contact article footer ul li a img {
  height: 30px;
  width: 30px;
  margin: 10% 36% 5%;
}
.contact article footer ul li:nth-child(odd) {
  background-color: #444444;
}
.contact article footer ul li:nth-child(2) {
  background-color: #646464;
}
.contact .avatar {
  width: 80%;
  overflow: hidden;
  border: white 7px solid;
  position: relative;
  top: -115px;
  margin: 0 auto -115px;
}
.contact .avatar img {
  width: 100%;
  height: 100%;
  margin-bottom: -6px;
}

.sources {
  border-bottom: 15px solid #646464;
}
.sources figure {
  cursor: auto;
}
.sources a {
  white-space: nowrap;
}
.sources h1 {
  box-shadow: 0 -53px 61px 2px rgba(0, 0, 0, 0.9) inset !important;
}
.sources h1 a {
  color: white;
}
.sources figure {
  border-bottom: 5px solid #444444;
}
.sources:hover {
  border-bottom-color: #7e7e7e;
}

.preload {
  display: none;
}

.fullwidthcontent {
  width: 90% !important;
}
@media (min-width: 56.25em) {
  .fullwidthcontent {
    width: 96% !important;
  }
}
.fullwidthcontent .span3 {
  width: 98%;
  margin: 0 16px;
}
@media (min-width: 40.625em) {
  .fullwidthcontent .span3 {
    width: 26%;
    float: left;
  }
}
@media (min-width: 56.25em) {
  .fullwidthcontent .span3 {
    width: 28%;
  }
}
.fullwidthcontent .span3 img {
  height: 80%;
  margin: 10%;
  max-width: 80%;
}
.fullwidthcontent .span3 h2 {
  font-size: 25px;
  font-family: "ubuntu", Arial, sans-serif;
  color: #0e0e0e;
}

/* ::Media queries */
/* ------------------------------------------------------------ */
@media print {
  body {
    font-size: 62.5%;
    line-height: 1em;
  }
}
@media screen and (max-width: 769px) {
  -webkit-text-size-adjust: none;
}
/* ::State styles */
/* ------------------------------------------------------------ */
.is-hidden {
  display: none;
}

.is-shown, .is-block {
  display: block;
}

.is-uppercase {
  text-transform: uppercase;
  letter-spacing: 1px;
}

.is-lowercase {
  text-transform: lowercase;
}

/* ::Debugs and #grid by Jon Gibbins */
/* ----------------------------------------------------------- */
#grid {
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

#grid div.horiz {
  height: 8px;
  border-bottom: 1px solid #ddd;
  margin: 0;
  padding: 0;
}

.red {
  border-top-color: #a40b00;
  border-bottom-color: #a40b00;
}
.red figure {
  border-top-color: #590800;
  border-bottom-color: #590800;
}
.red article {
  border-bottom-color: #a40b00;
  border-top-color: #590800;
}
.red article section h2 {
  color: #a40b00;
}
.red article section a:link, .red article section a:visited {
  color: #a40b00;
}
.red article section a:hover, .red article section a:active {
  color: #d70e00;
  border-bottom-color: #a40b00;
}
.red article footer ul li:nth-child(odd) {
  background-color: #590800;
}
.red article footer ul li:nth-child(2) {
  background-color: #a40b00;
}
.red .tab {
  border-top-color: #590800;
}
.red:hover > article {
  border-bottom-color: #d70e00;
}
.red:hover {
  border-top-color: #d70e00;
  border-bottom-color: #d70e00;
}
.red:hover > h1 {
  color: #a40b00 !important;
}

.green {
  border-top-color: #768a00;
  border-bottom-color: #768a00;
}
.green figure {
  border-top-color: #526100;
  border-bottom-color: #526100;
}
.green article {
  border-bottom-color: #768a00;
  border-top-color: #526100;
}
.green article section h2 {
  color: #768a00;
}
.green article section a:link, .green article section a:visited {
  color: #768a00;
}
.green article section a:hover, .green article section a:active {
  color: #a2bd00;
  border-bottom-color: #768a00;
}
.green article footer ul li:nth-child(odd) {
  background-color: #526100;
}
.green article footer ul li:nth-child(2) {
  background-color: #768a00;
}
.green .tab {
  border-top-color: #526100;
}
.green:hover > article {
  border-bottom-color: #a2bd00;
}
.green:hover {
  border-top-color: #a2bd00;
  border-bottom-color: #a2bd00;
}

.blue {
  border-top-color: #3a8b8b;
  border-bottom-color: #3a8b8b;
}
.blue figure {
  border-top-color: #375353;
  border-bottom-color: #375353;
}
.blue article {
  border-bottom-color: #3a8b8b;
  border-top-color: #375353;
}
.blue article section h2 {
  color: #3a8b8b;
}
.blue article section a:link, .blue article section a:visited {
  color: #3a8b8b;
}
.blue article section a:hover, .blue article section a:active {
  color: #49afaf;
  border-bottom-color: #3a8b8b;
}
.blue article footer ul li:nth-child(odd) {
  background-color: #375353;
}
.blue article footer ul li:nth-child(2) {
  background-color: #3a8b8b;
}
.blue .tab {
  border-top-color: #375353;
}
.blue:hover > article {
  border-bottom-color: #49afaf;
}
.blue:hover {
  border-top-color: #49afaf;
  border-bottom-color: #49afaf;
}

.orange {
  border-top-color: #c14600;
  border-bottom-color: #c14600;
}
.orange figure {
  border-top-color: #923c00;
  border-bottom-color: #923c00;
}
.orange article {
  border-bottom-color: #c14600;
  border-top-color: #923c00;
}
.orange article section h2 {
  color: #c14600;
}
.orange article section a:link, .orange article section a:visited {
  color: #c14600;
}
.orange article section a:hover, .orange article section a:active {
  color: #f45800;
  border-bottom-color: #c14600;
}
.orange article footer ul li:nth-child(odd) {
  background-color: #923c00;
}
.orange article footer ul li:nth-child(2) {
  background-color: #c14600;
}
.orange .tab {
  border-top-color: #923c00;
}
.orange:hover > article {
  border-bottom-color: #f45800;
}
.orange:hover {
  border-top-color: #f45800;
  border-bottom-color: #f45800;
}

.red-theme {
  background-color: #a40b00;
  background-image: url("../img/redcity.png"), url("../img/darkred-tex.png");
  background-position: center 340px, left top;
  background-repeat: no-repeat, repeat;
  background-size: auto 500px, auto auto;
}
@media (min-width: 56.25em) {
  .red-theme {
    background-position: center top, left top;
  }
  .red-theme nav {
    border-right-color: #a40b00;
  }
  .red-theme nav:before {
    border-right-color: #590800;
  }
}
.red-theme nav {
  border-bottom-color: #a40b00;
}
.red-theme nav .color-red {
  width: 100%;
}
.red-theme nav footer ul li a:hover {
  border-bottom-color: #a40b00;
}
.red-theme .box .slider-btn, .red-theme header .slider-btn {
  background-color: rgba(89, 8, 0, 0.9);
}
.red-theme .box .tab, .red-theme header .tab {
  border-top-color: #590800;
}
.red-theme .box figure .read-more, .red-theme header figure .read-more, .red-theme .box figure .backbutton div, .backbutton .red-theme .box figure div, .red-theme header figure .backbutton div, .backbutton .red-theme header figure div {
  color: #a40b00;
}
.red-theme .box article, .red-theme header article {
  border-bottom-color: #a40b00;
  border-top-color: #590800;
}
.red-theme .box article aside, .red-theme header article aside {
  background-color: #fff1f1;
}
.red-theme .box article aside h3, .red-theme header article aside h3 {
  background-color: #590800;
}
.red-theme .box article aside p:before, .red-theme header article aside p:before {
  background-color: #fff1f1;
}
.red-theme .box article aside ul li a:hover, .red-theme header article aside ul li a:hover {
  background-color: #a40b00;
  border-bottom-color: #590800;
}
.red-theme .box article section h2, .red-theme header article section h2 {
  color: #a40b00;
}
.red-theme .box article section a:link, .red-theme header article section a:link, .red-theme .box article section a:visited, .red-theme header article section a:visited {
  color: #a40b00;
}
.red-theme .box article section a:hover, .red-theme header article section a:hover, .red-theme .box article section a:active, .red-theme header article section a:active {
  color: #d70e00;
  border-bottom-color: #a40b00;
}
.red-theme .box:hover > article, .red-theme header:hover > article {
  border-bottom-color: #d70e00;
}
.red-theme .halfcol .box:hover > article, .red-theme .halfcol header:hover > article {
  border-bottom-color: #d70e00;
}
.red-theme .threecol {
  border-top-color: #a40b00;
}
.red-theme .threecol figure {
  border-top-color: #590800;
}
.red-theme .threecol:hover {
  border-top-color: #d70e00;
}
.red-theme .backbutton div i {
  color: #a40b00;
}
.red-theme .backbutton div:hover > i {
  color: #d70e00;
}

.green-theme {
  background-color: #768a00;
  background-image: url("../img/greencity.png"), url("../img/darkgreen-tex.png");
  background-position: center 340px, left top;
  background-repeat: no-repeat, repeat;
  background-size: auto 500px, auto auto;
}
@media (min-width: 56.25em) {
  .green-theme {
    background-position: center top, left top;
  }
  .green-theme nav {
    border-right-color: #768a00;
  }
  .green-theme nav:before {
    border-right-color: #526100;
  }
}
.green-theme nav {
  border-bottom-color: #768a00;
}
.green-theme nav .color-green {
  width: 100%;
}
.green-theme nav footer ul li a:hover {
  border-bottom-color: #768a00;
}
.green-theme .box .slider-btn, .green-theme header .slider-btn {
  background-color: rgba(82, 97, 0, 0.9);
}
.green-theme .box .tab, .green-theme header .tab {
  border-top-color: #526100;
}
.green-theme .box figure .read-more, .green-theme header figure .read-more, .green-theme .box figure .backbutton div, .backbutton .green-theme .box figure div, .green-theme header figure .backbutton div, .backbutton .green-theme header figure div {
  color: #768a00;
}
.green-theme .box article, .green-theme header article {
  border-bottom-color: #768a00;
  border-top-color: #526100;
}
.green-theme .box article aside, .green-theme header article aside {
  background-color: #f9ffd7;
}
.green-theme .box article aside h3, .green-theme header article aside h3 {
  background-color: #526100;
}
.green-theme .box article aside p:before, .green-theme header article aside p:before {
  background-color: #f9ffd7;
}
.green-theme .box article aside ul li a:hover, .green-theme header article aside ul li a:hover {
  background-color: #768a00;
  border-bottom-color: #526100;
}
.green-theme .box article section h2, .green-theme header article section h2 {
  color: #768a00;
}
.green-theme .box article section a:link, .green-theme header article section a:link, .green-theme .box article section a:visited, .green-theme header article section a:visited {
  color: #768a00;
}
.green-theme .box article section a:hover, .green-theme header article section a:hover, .green-theme .box article section a:active, .green-theme header article section a:active {
  color: #a2bd00;
  border-bottom-color: #768a00;
}
.green-theme .box:hover > article, .green-theme header:hover > article {
  border-bottom-color: #a2bd00;
}
.green-theme .threecol {
  border-top-color: #768a00;
}
.green-theme .threecol figure {
  border-top-color: #526100;
}
.green-theme .threecol:hover {
  border-top-color: #a2bd00;
}
.green-theme .backbutton div i {
  color: #768a00;
}
.green-theme .backbutton div:hover > i {
  color: #a2bd00;
}

.blue-theme {
  background-color: #3a8b8b;
  background-image: url("../img/bluecity.png"), url("../img/darkblue-tex.png");
  background-position: center 340px, left top;
  background-repeat: no-repeat, repeat;
  background-size: auto 500px, auto auto;
}
.blue-theme #container {
  margin-bottom: 150px;
}
@media (min-width: 56.25em) {
  .blue-theme {
    background-position: center top, left top;
  }
  .blue-theme nav {
    border-right-color: #3a8b8b;
  }
  .blue-theme nav:before {
    border-right-color: #375353;
  }
}
.blue-theme nav {
  border-bottom-color: #3a8b8b;
}
.blue-theme nav .color-blue {
  width: 100%;
}
.blue-theme nav footer ul li a:hover {
  border-bottom-color: #3a8b8b;
}
.blue-theme .box .slider-btn, .blue-theme header .slider-btn {
  background-color: rgba(55, 83, 83, 0.9);
}
.blue-theme .box .tab, .blue-theme header .tab {
  border-top-color: #375353;
}
.blue-theme .box figure .read-more, .blue-theme header figure .read-more, .blue-theme .box figure .backbutton div, .backbutton .blue-theme .box figure div, .blue-theme header figure .backbutton div, .backbutton .blue-theme header figure div {
  color: #3a8b8b;
}
.blue-theme .box article, .blue-theme header article {
  border-bottom-color: #3a8b8b;
  border-top-color: #375353;
}
.blue-theme .box article aside, .blue-theme header article aside {
  background-color: #e8f5f5;
}
.blue-theme .box article aside h3, .blue-theme header article aside h3 {
  background-color: #375353;
}
.blue-theme .box article aside p:before, .blue-theme header article aside p:before {
  background-color: #e8f5f5;
}
.blue-theme .box article aside ul li a:hover, .blue-theme header article aside ul li a:hover {
  background-color: #3a8b8b;
  border-bottom-color: #375353;
}
.blue-theme .box article section h2, .blue-theme header article section h2 {
  color: #3a8b8b;
}
.blue-theme .box article section a:link, .blue-theme header article section a:link, .blue-theme .box article section a:visited, .blue-theme header article section a:visited {
  color: #3a8b8b;
}
.blue-theme .box article section a:hover, .blue-theme header article section a:hover, .blue-theme .box article section a:active, .blue-theme header article section a:active {
  color: #49afaf;
  border-bottom-color: #3a8b8b;
}
.blue-theme .box:hover > article, .blue-theme header:hover > article {
  border-bottom-color: #49afaf;
}
.blue-theme .threecol {
  border-top-color: #3a8b8b;
}
.blue-theme .threecol figure {
  border-top-color: #375353;
}
.blue-theme .threecol:hover {
  border-top-color: #49afaf;
}
.blue-theme .backbutton div i {
  color: #3a8b8b;
}
.blue-theme .backbutton div:hover > i {
  color: #49afaf;
}

.orange-theme {
  background-color: #c14600;
  background-image: url("../img/orangecity.png"), url("../img/darkorange-tex.png");
  background-position: center 340px, left top;
  background-repeat: no-repeat, repeat;
  background-size: auto 500px, auto auto;
}
@media (min-width: 56.25em) {
  .orange-theme {
    background-position: center top, left top;
  }
  .orange-theme nav {
    border-right-color: #c14600;
  }
  .orange-theme nav:before {
    border-right-color: #923c00;
  }
}
.orange-theme nav {
  border-bottom-color: #c14600;
}
.orange-theme nav .color-orange {
  width: 100%;
}
.orange-theme nav footer ul li a:hover {
  border-bottom-color: #c14600;
}
.orange-theme .box .slider-btn, .orange-theme header .slider-btn {
  background-color: rgba(146, 60, 0, 0.9);
}
.orange-theme .box .tab, .orange-theme header .tab {
  border-top-color: #923c00;
}
.orange-theme .box figure .read-more, .orange-theme header figure .read-more, .orange-theme .box figure .backbutton div, .backbutton .orange-theme .box figure div, .orange-theme header figure .backbutton div, .backbutton .orange-theme header figure div {
  color: #c14600;
}
.orange-theme .box article, .orange-theme header article {
  border-bottom-color: #c14600;
  border-top-color: #923c00;
}
.orange-theme .box article aside, .orange-theme header article aside {
  background-color: #ffc7a8;
}
.orange-theme .box article aside h3, .orange-theme header article aside h3 {
  background-color: #923c00;
}
.orange-theme .box article aside p:before, .orange-theme header article aside p:before {
  background-color: #ffc7a8;
}
.orange-theme .box article aside ul li a:hover, .orange-theme header article aside ul li a:hover {
  background-color: #c14600;
  border-bottom-color: #923c00;
}
.orange-theme .box article section h2, .orange-theme header article section h2 {
  color: #c14600;
}
.orange-theme .box article section a:link, .orange-theme header article section a:link, .orange-theme .box article section a:visited, .orange-theme header article section a:visited {
  color: #c14600;
}
.orange-theme .box article section a:hover, .orange-theme header article section a:hover, .orange-theme .box article section a:active, .orange-theme header article section a:active {
  color: #f45800;
  border-bottom-color: #c14600;
}
.orange-theme .box:hover > article, .orange-theme header:hover > article {
  border-bottom-color: #f45800;
}
.orange-theme .threecol {
  border-top-color: #c14600;
}
.orange-theme .threecol figure {
  border-top-color: #923c00;
}
.orange-theme .threecol:hover {
  border-top-color: #f45800;
}
.orange-theme .backbutton div i {
  color: #c14600;
}
.orange-theme .backbutton div:hover > i {
  color: #f45800;
}

figure img {
  position: absolute;
  width: 100%;
}

img#presentday2, img#presentday3, img#presentday4, img#presentday5 {
  opacity: 0;
  z-index: 5;
}

/* ========   PANEL SIZES FOR 4 IMAGES   =============== */
.pictures, .rollovers {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 1;
}
.pictures img, .rollovers img {
  opacity: 0;
  z-index: 5;
}
.pictures img:first-of-type, .rollovers img:first-of-type {
  opacity: 1;
}

.rollovers {
  width: 25%;
  z-index: 10;
}
.rollovers:nth-child(3):hover ~ .pictures img:nth-child(2), .rollovers:nth-child(3):hover ~ .rollovers img:nth-child(2) {
  opacity: 1;
  z-index: 9;
}
.rollovers:nth-child(4) {
  left: 25%;
}
.rollovers:nth-child(4):hover ~ .pictures img:nth-child(3), .rollovers:nth-child(4):hover ~ .rollovers img:nth-child(3) {
  opacity: 1;
  z-index: 8;
}
.rollovers:nth-child(5) {
  left: 50%;
}
.rollovers:nth-child(5):hover ~ .pictures img:nth-child(4), .rollovers:nth-child(5):hover ~ .rollovers img:nth-child(4) {
  opacity: 1;
  z-index: 7;
}
.rollovers:nth-child(6) {
  left: 75%;
}
.rollovers:nth-child(6):hover ~ .pictures img:nth-child(5), .rollovers:nth-child(6):hover ~ .rollovers img:nth-child(5) {
  opacity: 1;
  z-index: 6;
}

.slider-btn {
  font-family: "EntypoRegular", none;
  font-size: 55px;
  color: white;
  background-color: rgba(68, 68, 68, 0.9);
  height: 50px;
  width: 70px;
  margin: 10px 0;
  padding: 0 0 5px 23px;
  cursor: pointer;
  border-right: 3px solid white;
}
.slider-btn p {
  position: relative;
  top: -22px;
}

.slider-control {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 999;
  display: none;
}
@media (min-width: 56.25em) {
  .slider-control {
    display: block;
    opacity: .5;
    -webkit-transition: opacity 0.5s ease-in-out;
    -moz-transition: opacity 0.5s ease-in-out;
    -ms-transition: opacity 0.5s ease-in-out;
    -o-transition: opacity 0.5s ease-in-out;
    -transition: opacity 0.5s ease-in-out;
    transition: opacity 0.5s ease-in-out;
  }
  .slider-control:hover {
    opacity: 1;
  }
}

.swipe {
  overflow: hidden;
  visibility: hidden;
  position: relative;
}

.swipe-wrap {
  overflow: hidden;
  position: relative;
}

.swipe-wrap > div {
  float: left;
  width: 100%;
  position: relative;
}

.swipe-wrap div img {
  width: 100%;
  position: relative;
}
